[2021-08-06 02:06] CTZxVULKAN commented on #213
Now i know what was the issue.
Installing with yarn did not work for some reason however globally installing with npm works fine.
[code]

[2021-08-06 02:06] #213 closed

[2021-08-06 02:19] ayushjaipuriyar commented on #215
I tried making it myself , but I got confused as there are 5-6 blues in there and couldn't decide which colours to replace

[2021-08-06 02:32] siduck76 commented on #215
I'll try making it today

[2021-08-06 16:15] siduck76 commented on #215
@ayushjaipuriyar its done.

[2021-08-06 16:15] #215 closed

[2021-08-06 16:19] siduck76 commented on #200
@totoro-ghost do you still have this issue?

[2021-08-06 17:15] ayushjaipuriyar opened #217 "Lualine breaks telescope"
**Describe the bug**
Using telescope instead of galaxyline breaks telescope, also chad themes doesnt work on lualine

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the steps on wiki [lualine](https://github.com/siduck76/NvChad/wiki/Chad-user-configs#lualine-galaxyline-alternative)
2. Run any telescope functions
3. Theme doesnt apply to lualine no matter what

**Expected behavior**
Te

[2021-08-06 17:17] siduck76 commented on #217
we havent added highlights for lualine yet and lualine isnt causing the telescope issue. I have had the telescope issue and its too random , PackerSync or reinstallation fix it but idk whats causing it.

[2021-08-06 17:18] ayushjaipuriyar commented on #217
Okay, but its not fixing on mine

[2021-08-06 17:21] siduck76 commented on #217
delete .config/nvim folder and try again

[2021-08-06 17:22] ayushjaipuriyar commented on #217
Did that still the same , works just fine on galaxyline
i guess i will continue using galaxyline

[2021-08-06 17:23] siduck76 commented on #217
yes , you can customize it to look like lualine too

[2021-08-06 17:24] ayushjaipuriyar commented on #217
Okaay , i will close this then , thanks though

[2021-08-06 17:24] #217 closed

[2021-08-07 06:14] #142 closed

[2021-08-07 08:49] #203 closed

[2021-08-07 10:38] JustSage opened #219 "Everforest theme request"
[Everforest](https://github.com/sainnhe/everforest)
Please integrate this theme, it's a really chill one :)

[2021-08-07 11:01] siduck76 commented on #219
which one out of 3 in it? :sunglasses:

[2021-08-07 11:01] siduck76 commented on #219
what about this?

https://github.com/b4skyx/serenade

[2021-08-07 11:11] JustSage commented on #217
Don't need specific highlights for lualine, you could either use vim.g.nvchad_theme to set the theme property or use the colors from theme.lua and define colors for each component.
You could even set the theme property to 'auto' which automatically detects your theme but that's a bit off in my experience.

Regards to Telescope errors, it's usually a typo in your configurations - above Telescope se

[2021-08-07 13:36] Vanderscycle commented on #200
I have the issue come and go when using alacrity but its not that noticeable. I should test on konsole see if it shows.

[2021-08-07 13:38] ashincoder commented on #200
Try testing it on kitty since it doesnot change cursor colors like alacritty

[2021-08-07 16:30] JustSage commented on #219
Looks very similar to it, would like the medium dark version of Everforest though :).
btw are the light themes limited by your base16 fork ?

[2021-08-07 23:24] Pocco81 commented on #200
Looks good to me in both Alacritty and Kitty.

[2021-08-08 00:07] Vanderscycle commented on #200
I'm not suggesting any changes. I do have a theme running on alacrity so maybe that's the issue.

[2021-08-08 04:07] siduck76 commented on #219
yea for now kinda , I will make some nice light themes next month so hold on!

[2021-08-08 06:53] se7en-x230 opened #221 "user_config"
I understand that user_config is the file to add custom theme, keybindings and additional settings.

Can somebody explain how to add an additional keybinding to this file?
1. additional keybinding to telescope hidden files:
`map("n", "<Leader>fa", ":Telescope find_files hidden=true <CR>", opt)
`
2. option to start edit where you left off.
`vim.cmd [[ au BufReadPost * if expand('%:p') !~# '\m/\.git

[2021-08-08 07:42] JustSage commented on #221
Currently `user_config.lua` contains the ui theme, and is interacted with nvchad's theme switcher.
In the future it will contain additional mappings and settings but right now `mappings.lua` is for mappings (1) and `options.lua` is for settings & commands (2).

Both mappings.lua & options.lua are called from init.lua at runtime so you don't need to enable anything "by hand".

[2021-08-08 07:43] JustSage commented on #219
Sweet! The dark themes look sick, can't wait :D!

[2021-08-08 08:08] siduck76 commented on #219
I'll make the light ones in the next month tho! I havent made any projects lately xD so no code to show off NvChad with light themes :'(

[2021-08-08 10:28] se7en-x230 commented on #221
Thanks.
So as I understand the plan for the future is to be able to add more custom settings in user_config. But for now only the theme settings is kept there.

For now I have to edit mapping.lua and options.lua

[2021-08-08 18:30] Iorvethe commented on #86
## The logo

![mock](https://user-images.githubusercontent.com/58810330/128641269-11afb22e-be0e-4f3a-9ca4-edeaa0d3bd34.png)

## The rationale behind

I tried to do something similar to Neovim's logo, having it as a starting point and reference. As you can see, Neovim's is an **N** containing a **V**, the green part. We can think of it as a continuation of Vim, an upgrade of it. That's what I tried

[2021-08-08 18:50] Iorvethe commented on #200
I think this comes from the `indent-blankline` plugin. I don't really know how to fix it properly but as a temporary solution until someone investigates it further, I replaced/added the following lines to have a `background-indent` instead of a `line-indent`. It's not like before but at least the blue cursor is gone now.

In `~/.config/nvim/lua/plugins/others.lua`, replace the configuration for `b

[2021-08-08 22:29] Pocco81 commented on #200
Btw @totoro-ghost, but what did you use to take the screenshot?

[2021-08-09 00:32] #221 closed

[2021-08-09 06:04] lordlabuckdas opened #223 "[Theme request] Dracula"
**Is your feature request related to a problem? Please describe.**
NvChad currently lacks proper support for the Dracula theme. The colors in [nvim-base16.lua](https://github.com/siduck76/nvim-base16.lua) for Dracula are inaccurate.

**Describe the solution you'd like**
It would be awesome if the Dracula theme is added to NvChad along with its correct colors in `nvim-base16.lua`.

**Describe alter

[2021-08-09 07:11] siduck76 commented on #223
I have tried original dracula before and the syntax colors were kinda ugly!  I will soon make a custom Dracula better than the original one for nvchad :D

[2021-08-09 07:25] lordlabuckdas commented on #223
Personally, I like the original Dracula theme. So if it isn't too much to ask, could you please separate them into 2 files, say `dracula.lua` (the OG Dracula theme) and `chadracula.lua` (your custom Dracula theme)?

[2021-08-09 07:54] siduck76 commented on #223
ofc , let's see if you would like chadracula more :D . I'll make the theme this Sunday tho! Gonna finish forestchad aka ever forest this Saturday

[2021-08-09 14:44] siduck76 commented on #182
Ig this should go to the chad user configs section in the wiki! Will think about having this if many want this feature.

[2021-08-09 14:44] #182 closed

[2021-08-09 15:27] Vanderscycle commented on #182
@G-Rowell if you want an example https://github.com/siduck76/NvChad/pull/207 you may or may not need .6 but works on mine at .5

[2021-08-10 05:11] CTZxVULKAN opened #224 "Failed to update lewis6991/gitsigns.nvim"
Running PackerUpdate / PackerSync is failing to update gitsigns.nvim

[2021-08-10 05:18] JustSage commented on #224
If packer fails to update `X` plugin it means there was a flawed `--force push` to the master branch of `X` plugin.
It will not break the plugin but packer won’t update the new commits.
You can open an issue in the relative plugin repo or in packer.nvim.

This issue is not related to NvChad’s configurations.

[2021-08-10 05:28] #224 closed

[2021-08-10 08:12] shivanshu-semwal commented on #200
I installed the alacritty v5 from source, but the issue is still there, @Iorvethe workaround works.

@Pocco81 i used flameshot.

[2021-08-10 08:14] totoro-ghost commented on #200
I installed allacritty-v5 form source but the issue is still there, @Iorvethe  workaround works.
@Pocco81  i used flameshot for screenshot.

[2021-08-10 08:29] #200 closed

[2021-08-10 14:39] barungh opened #227 "rust-tools setup issue"
without NvChad config, if I just create a `init.lua` file under `nvim` folder
and
put these lines

[code]
Like this

![Screenshot 2021-08-10 192909](https://user-images.githubusercontent.com/12285528/128885399-26f5dad4-d0e3-49a9-93aa-1a6a67965d30.png)

### but

NvChad config
an user defined plugin is always installed in `...site/pack/packer/start`

![Screenshot 2021-08-10 195233](https://user-imag

[2021-08-10 15:02] siduck76 commented on #227
the issue is cuz lspconfig is lazy loaded and rust tools isnt  so try this :

use {"simrat39/rust-tools.nvim"
 after = "nvim-lspconfig",
 config = function()
 require('rust-tools').setup({})
end
 }

 no need to add require'lspconfig'.rust_analyzer.setup{}

[2021-08-10 15:04] siduck76 commented on #223
https://github.com/siduck76/NvChad/commit/d5c64d335ea4eafa1f7b39ca073a24254c405c4c

[2021-08-10 15:04] #223 closed

[2021-08-10 15:06] barungh commented on #227
Thank You
I am about to try this
but
where do I put this line
`require'lspconfig'.rust_analyzer.setup{}`
?

[2021-08-10 17:43] insidersbuilt opened #229 "Remove the Dashboard"
Hello i am new to vim community and i triend to configure the lsp but i couldn't then i discoverd the NvChad that was awesome but now i am trying to remove Dashboard plugin but i am getting errors how can i remove the dashboard plugin

[2021-08-10 17:48] siduck76 commented on #229
Remove dashboard.lua file and remove this block from pluginlist.lua

Use {
"glephnir/dashboard"
Blah
Blah
}

Remove the whole use block of dashboard and do :Packersync

[2021-08-10 17:54] Vanderscycle commented on #229
@insidersbuilt The dashboard plugin should run without errors tho :/ What error are you getting?

[2021-08-11 03:39] siduck76 commented on #229
yea agreed but it's disabled by default so won't bother , probably better for those using mouse more

[2021-08-11 06:19] tfs commented on #219
I would love to have some light ones - maybe even Ayu? There's a Lua Port, but I'm still moving from vimscript to lua and basically don't know what I'm doing. Or how would you integrate something like this? https://github.com/Shatur/neovim-ayu

[2021-08-11 08:24] nift4 opened #230 "Telescope breaks when adding plugins"
**Describe the bug**
When I add tmux or zshcomp (one is enough) plugins as described in Chad User Configs wiki, Telescope breaks. It says No such editor command.

**To Reproduce**
Steps to reproduce the behavior:
1. Add tmux plugin as described on wiki
2. :PackerSync and :PackerCompile
3. Restart nvim
4. Try to use telescope
5. See error

**Expected behavior**
It is supposed to work.

**Screenshot

[2021-08-11 17:38] Vanderscycle commented on #230
I am having this issue as well but its on recent/new install as I have the same setup at home where telescope works but doesn't work on my work computer which is a fresh install

[2021-08-12 07:42] dmatos2012 commented on #230
Yeah, same here. Every time I add a new package in `pluginList.lua` and do any `:PackerSync` or `:PackerCompile` get the telescope error. If remove the plugin, everything gets "fixed" again.

Anyone has discovered why yet?:)

[2021-08-12 10:16] nift4 commented on #230
when I just enter :Telescope, it says no such editor command, packer tries to update it and says I have to restart nvim, when I try again it repeats.

[2021-08-12 10:23] siduck76 commented on #230
No

[2021-08-12 11:53] ashincoder commented on #230
@siduck76  Instead of replying to me u should try it. Open neovim and type this at first `:Telescope find_files`. Then tell me what happens.

[2021-08-12 11:55] ashincoder commented on #230
https://github.com/siduck76/NvChad/blob/main/lua/pluginList.lua in line 155 Telescope is loaded on on cmd Telescope

[2021-08-12 11:58] siduck76 commented on #230
![image](https://user-images.githubusercontent.com/59060246/129192892-e3f5cc7a-f38f-40ae-8402-4879c235501a.png)

[2021-08-12 11:59] ashincoder commented on #230
I don't know if ur doing what I'm saying but I get some errors.

[2021-08-12 12:00] siduck76 commented on #230
This issue is very random , NvChad has been lazy loading telescope since month.

[2021-08-12 12:00] ashincoder commented on #230
But first try to solve the problem #230 instead of coming to hunt me.

[2021-08-12 12:00] siduck76 commented on #230
yes i got those before too , delete .config/nvim/plugin folder and packersync

[2021-08-12 12:01] siduck76 commented on #230
wym trying to hunt you? I just meant the issue isnt cuz of cmd "Telescope"

[2021-08-12 12:02] siduck76 commented on #230
https://github.com/siduck76/NvChad/issues/217

[2021-08-12 12:02] siduck76 commented on #230
https://github.com/siduck76/NvChad/issues/198

[2021-08-12 12:19] siduck76 commented on #230
@dmatos2012 can you delete ~/.local/share/nvim and re-install nvchad?

[2021-08-12 12:30] dmatos2012 commented on #230
@siduck76 hi siduck thans for the quick response, but I have a slightly modified version, so even if it solves it for me, might not for the others. but what is the intent? so perhaps I can try to pinpoint what it is and tell here if I find the error

[2021-08-12 12:30] siduck76 commented on #68
@ceylog https://github.com/siduck76/NvChad/commit/0efa21c9c987c10ef9ccb572ab268d85d308060b

[2021-08-12 12:36] siduck76 commented on #230
there was a previous issue where the user ran packercompile before packersync which was causing the same issue as this. Now packer will automatically compile after packersync . test latest nvchad locally and let me know if you still have the error.

[2021-08-12 13:06] G-Rowell commented on #230
Hmmmm,

I'm hoping to look into this in the next few weeks, as I've been getting this issue a fair amount too.

[I think it's to do with this section](https://github.com/siduck76/NvChad/blob/main/lua/plugins/telescope.lua#L73-L88), as I haven't seen this in any other config repo (be it a large sibling to NvChad, or the personal config of Packer's author etc...)

It's weird for sure :face_with_head

[2021-08-12 13:18] laraib07 opened #233 "CommentToggle not working with new latest config."
**Describe the bug**
`<leader>/` is unable to toogle comment.  Tested on unaltered config.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any file with some code( say init.lua)
2. press `<leader>/`, nothing happens.

**Expected behavior**
Toggle comment.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):

[2021-08-12 13:27] siduck76 commented on #233
@laraib07 could you add the new changes and do :PackerSync?

[2021-08-12 13:44] JustSage commented on #230
Personally I don't have this in my config and it all works fine. This is a fail-safe code block for telescope extensions.
Should note if you don't have [ueberzug](https://github.com/seebye/ueberzug) installed (which is only available for Linux),  [telescope-media-files](https://github.com/nvim-telescope/telescope-media-files.nvim) is not going to work or may cause issues with telescope.

[2021-08-12 13:53] laraib07 commented on #233
Its working now🙂.

[2021-08-12 13:56] Akianonymus commented on #230
as @JustSage said, it's just a fail safe code

means it will trigger after failing, not before, so i don't see how that causes any issue.

But one could remove and see if the issue goes away, if it does, let's just remove the code.

[2021-08-12 14:03] dmatos2012 commented on #230
@siduck76  I removed `/.local/share/nvim and reinstalled and didnt help`. Also, I removed the telescope section mentioned and that also didnt work. :( . This is very strange

[2021-08-12 14:09] siduck76 commented on #230
@dmatos2012

https://user-images.githubusercontent.com/59060246/129211674-24f80385-d2d6-4b35-a8a1-abbd6586ee6d.mp4

works for me even after a fresh install , very weird :c

[2021-08-12 14:20] dmatos2012 commented on #230
Yeah, lets wait for others to see what they report, because at least for me not. But as soon as I remove the "extra" package, it works again. Maybe its time to hijack tjs stream and ask him why this happens :P.

[2021-08-12 14:21] siduck76 commented on #230
I hope this isnt a nvchad issue xD

[2021-08-12 14:44] nift4 commented on #230
Telescope works here, too. Just when I add a extra plugin it breaks.

[2021-08-12 14:46] dmatos2012 commented on #230
@siduck76  so its definitely related to `:PackerSync`. I add the plugin again, and just do `:PackerInstall` and then its ok, but when I do `Sync` it brings the error. Also, would it make sense to build nvim from source? Im using `NVIM v0.6.0-dev
Build type: RelWithDebInfo
LuaJIT 2.1.0-beta3.
`

So not from ubuntu ppas but from source or the stable 0.5? Just to see if could be also related to that.

[2021-08-12 14:48] dmatos2012 commented on #230
Yes, because `Turning it on and off didnt work :(`

[2021-08-12 14:59] siduck76 commented on #230
Could you try this  https://github.com/siduck76/NvChad/issues/230#issuecomment-897660962

[2021-08-12 15:03] JustSage commented on #230
Usually fixing the telescope issue involves:
`rm -r -f <path-to-nvim/plugin>` -> `PackerSync` -> `PackerCompile` (**not** `PackerInstall`) -> refresh buffer.
If this does not help it means you could have either a typo within pluginList or within a configuration file.

[2021-08-12 15:15] CTZxVULKAN opened #234 "NvimPacker theme issue with nvim-base16"
I ran a `:PackerSync` followed by a restart after which my Neovim broke.

I am presented with the following issue
[code]

This is my `theme.lua`

[code]

Additional Notes :
My config was based off the previous version of NvChad ( the one before the theme selector with telescope was added) and i never updated my installation base and just changed minor stuff in the config.

I know little to none lu

[2021-08-12 15:17] JustSage commented on #234
Change the brackets when calling themes to parentheses. `[` -> `(`.
Need to do the same in the theme switcher extension file if you use it.

[2021-08-12 15:18] Akianonymus commented on #234
how about updating the config from main repo ? lol

[2021-08-12 15:20] CTZxVULKAN commented on #234
@JustSage  i changed the parentheses. from `[` to ` (` .
Now everything is fine.
Could you please explain why such an issue occured (it was fine earlier) ?

[2021-08-12 15:24] CTZxVULKAN commented on #234
@Akianonymus  i have no reason to update with the main repo ( there was no new feature included which i would use that was included the last pull request  ).
Nvchad is very suckless i just installed the base and kept adding my custom configs over it.

[2021-08-12 15:25] CTZxVULKAN commented on #234
@JustSage  I see thank you for the quick help it was really cool man :) (even my mum doesnt reply that fast )

[2021-08-12 15:43] #234 closed

[2021-08-12 16:11] dmatos2012 commented on #230
@JustSage  that doesnt work. And I am 100% sure I dont have a typo.

@siduck76 ON the other hand, if I load telescope , like in their readme
[code]
it works perfectly, and I can add as many plugins as I want.

but in that way, I am not sure how to add our own `require (plugins.telescope)` lua file. So at least with default configuration, it works

[2021-08-12 16:14] siduck76 commented on #230
Oki I'll make some changes

[2021-08-12 16:17] Vanderscycle commented on #230
@siduck76 I know we want everything lazy loaded but telescope is a cornerstone to neovim and loading by default isn't a bad thing.

[2021-08-12 16:22] JustSage commented on #234
Just happened to be around :).

[2021-08-12 17:14] siduck76 commented on #230
It fixes the issue for me :
https://user-images.githubusercontent.com/59060246/129239691-a5cd57f0-b072-4210-a2ec-62278d7c2aa1.mp4

[2021-08-12 17:15] siduck76 commented on #229
what do you mean? could you be more specific ?

[2021-08-12 17:16] #229 closed

[2021-08-12 17:59] #219 closed

[2021-08-12 18:31] insidersbuilt commented on #229
i am felling guilty for wasting your time but how can we make this command work in lua
this is a very useful setting for yanking text

augroup highlight_yank
    autocmd!
    autocmd TextYankPost * silent! lua require'vim.highlight'.on_yank({timeout = 40})
augroup END

[2021-08-12 18:41] dmatos2012 commented on #230
awesome! my config is slightly different now, but this fixed it for sure. You are awesome, thank you :)  :rocket:

[2021-08-12 19:15] insidersbuilt commented on #229
It worked thanks man Love from Pakistan🇵🇰

[2021-08-13 02:30] erikrodrgz commented on #212
@siduck76 Do you plan to add debuggers to NvChad? It would be really cool!

[2021-08-13 03:21] siduck76 commented on #212
yes but I think after v2.0! I'll add it to the 2.0's milestone in the future.

[2021-08-13 04:06] siduck76 commented on #229
khuda hafiz akhi!

[2021-08-13 07:21] siduck76 commented on #230
Idk much but 3 plugins (telescope , telescope fzf native and telescope-media ) were triggering on the same cmd ( "Telescope "). So maybe packer gets messed up deciding which one to load first! since they all load at the same cmd , so I removed the cmd condtion for fzf native and telescope media so they will be loaded before telescope rather than along with telescope . Since telescope loads on "cmd

[2021-08-13 07:55] ag-stanciu opened #236 "Statusline missing after terminal actions"
**Describe the bug**
Opening a terminal split, or an action which involves a terminal (LspInstall), makes the statusline not show up after closing the terminal

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install
2. Open a terminal split
3. Close the terminal split
4. Statusline missing

**Expected behavior**
Statusline should show up after the terminal is closed.

**Screenshots**
!

[2021-08-13 08:07] siduck76 commented on #236
https://github.com/siduck76/NvChad/issues/236

[2021-08-13 08:07] #236 closed

[2021-08-13 08:07] siduck76 commented on #236
@ag-stanciu  https://github.com/siduck76/NvChad/issues/236

[2021-08-13 21:10] insidersbuilt opened #239 "status line disappers"
when i open up a terminal inside of the nvim the status line or the galaxy line disappers idk why this is happening. Does anyone else have the same prob

[2021-08-14 00:54] siduck76 commented on #239
When was the last time you updated config?

[2021-08-14 03:20] G-Rowell commented on #239
Hi @insidersbuilt,

I'm working on this now

NvChad is designed to not have (hide) the statusline when your in a Terminal buffer,

However there is a bug where it doesn't return when entering back into a normal buffer.

I'm fixing this bug now.

And will work today on a NvChad config option to enable normal statusline behaviour in terminal buffers.

[2021-08-14 04:50] G-Rowell commented on #239
Oh @insidersbuilt ,

I misread.

The `statusline` should be fine?
There is still a bug with the `numbers` column that I'm fixing right now.

Do you still have the `statusline` bug? If let's see if we can fix it!!

[2021-08-14 04:53] siduck76 commented on #239
@insidersbuilt

![image](https://user-images.githubusercontent.com/59060246/129434478-b2edb66d-353d-4792-87fb-afa4e219e4b9.png)

[2021-08-14 05:19] G-Rowell commented on #239
I'm so dumb, completely misread everything twice,

do the above

[2021-08-14 06:18] G-Rowell commented on #239
@insidersbuilt

I think this is good to close?
Lemme know if you have any other questions, I'll have some more coffee before reading them this time :laughing:

[2021-08-14 06:50] #239 closed

[2021-08-14 07:18] laraib07 opened #241 "ToggleTerm `<leader>w` toogles number too"
**Describe
After closing terminal in window( leader w) number line gets toggled.

**To Reproduce**
Steps to reproduce the behavior:
1. Leader w
2. Exit terminal

**Expected behavio**

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - Operating System : Android 11
 - Terminal : termuz
 - Version of Neovim 0.5

*

[2021-08-14 07:41] siduck76 commented on #241
@G-Rowell is working on it , check https://github.com/akinsho/nvim-toggleterm.lua/issues/84

[2021-08-14 07:44] G-Rowell commented on #241
Can confirm, am working on it :smile:
Will keep ya'll updated

Ty for making this issue tho

[2021-08-14 09:25] siduck76 opened #242 "light theme : bubby"

[2021-08-14 09:26] siduck76 commented on #242
cute light colorscheme!

[2021-08-14 09:26] siduck76 opened #243 "Add Light theme"

[2021-08-14 09:27] siduck76 opened #244 "mappings cheetsheet"
mappings cheetsheet popup ( not whichkey )

[2021-08-14 09:28] siduck76 opened #245 "theme toggle"
theme toggle keybind between light and dark theme

[2021-08-14 09:30] siduck76 opened #246 "config walkthrough"
explanation of config for newbies in WIKI

[2021-08-14 09:32] G-Rowell commented on #244
I've done a bit or work on this!
I'd love to be the assignee & one to do it :smile:

[2021-08-14 09:32] G-Rowell commented on #245
Is the Telescope theme switcher not enough?

[2021-08-14 09:36] siduck76 commented on #244
could you show how does it look? I wouldnt want to use cheatsheet.nvim either

something like this but styled with Highstr.nvim

![image](https://user-images.githubusercontent.com/59060246/129441705-0f73a722-a662-46a4-b2cb-826a15285394.png)

[2021-08-14 09:38] siduck76 commented on #245
it is , but what if the user wants to switch between two of his fav themes ( most likely one dark theme and one light theme) so he could simply press a mapping and the theme toggles.

[2021-08-14 09:40] siduck76 opened #247 "Terminal features wishlist"
![image](https://user-images.githubusercontent.com/59060246/129441814-4dc0c41a-bf9c-4c18-81bc-0f6066faf1f1.png)

since toggle term just toggles and untoggles single terminal buffers , we need mappings to manually spawn multiple terminals .

[2021-08-14 09:41] G-Rowell commented on #244
That isn't interactive and don't see how it looks remotely as good *or remotely as functional!* as `cheatsheet.nvim`,
there also certainly won't be enough space to show all the NvChad mappings if we set it like that image you provided

[2021-08-14 09:45] siduck76 commented on #244
I'll try doing this myself and let you know , if it wont work out then we will go with cheatsheet.nvim

[2021-08-14 09:46] G-Rowell commented on #245
I feel like this is moving towards `bloat` territory,

the user can just create their own mapping for that very niche case.

I don't know anyone who switches themes regularly in the first place

[2021-08-14 09:49] G-Rowell commented on #245
Like,
I thought the whole idea of NvChad, was a minimal & sensible IDE, which is simple & bloat free such that the user can easily add their own configs/extras for their own niche cases

Or at least put stuff like this in the wiki or an optional opt-in extras area

[2021-08-14 09:51] siduck76 opened #248 "toggle a specific terminal buffer"
![image](https://user-images.githubusercontent.com/59060246/129442133-62a777a9-68d9-41c5-aa65-82d3404789af.png)

toggle a terminal ( these terminal buffers arent opened by toggleterm) with a mapping.

[2021-08-14 09:51] siduck76 commented on #248
https://github.com/siduck76/NvChad/issues/247 should be fixed first , then this!

[2021-08-14 09:54] siduck76 commented on #245
light theme at day and dark theme at night xd?

[2021-08-14 09:55] siduck76 commented on #245
yes we'll add it in the wiki , someone could provide code for this so it gets newbie friendly since none including me knows how theme switcher works.

[2021-08-14 09:57] G-Rowell commented on #245
I know how the theme switcher works, so does Aki.

I think we should consider some more disable/enable flags for these things like theme switchers & nice features

[2021-08-14 10:01] siduck76 opened #249 "untoggle specific terminal buffers via telescope"
This should be fixed after https://github.com/siduck76/NvChad/issues/247.

What if the user has 5+ terminal buffers hidden and wants to untoggle one specific buffer?

All the terminal buffers toggled ( hidden ) shall show in telescope , something similar to this

![image](https://user-images.githubusercontent.com/59060246/129442423-a0a3f2e2-57be-445f-8a9c-9a14bf43f0c6.png)

 and selecting a buffer

[2021-08-14 10:03] siduck76 commented on #245
agreed , if the theme switcher is gonna be added in the config then for sure there will be an option for it and it will be disabled by default .

[2021-08-14 10:03] siduck76 commented on #245
Soo the basic idea is :

[2021-08-14 10:07] siduck76 commented on #245
local fav_themes = { "onedark", "onelight"}   -- onelight doesnt exist as of now xD , just a theme name.

local toggle_theme = function()
   if current theme is onelight then
      change current theme to onedark
   --  do all the stuffs to reload theme like require statusline etc

   change current to onelight
   -- do all stuff to reload theme
end

[2021-08-14 10:34] G-Rowell commented on #247
Assign me!

[2021-08-14 10:35] G-Rowell commented on #249
Assign me!

[2021-08-14 10:35] G-Rowell commented on #248
Assign me!

[2021-08-14 11:24] G-Rowell commented on #248
Hmmmm,
so what do you mean by `toggle a terminal buffer`?

Do you mean similar behaviour to `toggleterm`?

[2021-08-14 13:24] amistyrain opened #250 "This error will be reported when using luasnip"
![image](https://user-images.githubusercontent.com/16816655/129447609-328cc81f-4500-4620-86b0-2efc4d2ea714.png)

[2021-08-14 13:30] JustSage commented on #250
We are currently investigating it.
This occurs since [c7fdd68](https://github.com/siduck76/NvChad/commit/c7fdd680729ced2a3805f9aacd8c9910a902de1d)

[2021-08-14 14:06] G-Rowell commented on #247
@siduck76

Time to close this?

[2021-08-14 14:15] siduck76 commented on #248
yes

[2021-08-14 14:22] siduck76 commented on #248
hide the active terminal buffer

[2021-08-14 14:26] G-Rowell commented on #248
So `nvim-toggleterm.lua` is something that toggles terminals (hide and brings them back nicely),
so it doesn't really make sense to want `toggle term functionality without toggle term`,

`nvim-toggleterm.lua` is really great, and can do lots of stuff without being bloated at all

[2021-08-14 14:27] siduck76 commented on #248
we cant toggle terminals not created by toggleterm tho :/

[2021-08-14 14:53] siduck76 commented on #247
- open multiple terminals in different directions. Since we can just open one terminal with toggleterm , like open a terminal vertically , try opening another terminal horizontally , the previously vertical terminal will get toggled. We dont want that . The old term setup had the functionality of spawning multiple terminals . Toggleterm currently unsupoorts this i.e opening many terminals in diffe

[2021-08-14 15:04] G-Rowell commented on #247
So you haven't really listed the requirements/what you want it to do,
maybe consider something like:

# Wishlist
- mapping to create a new terminal in vert & horizontal directions
- mapping to create a buffer terminal
- mapping to do X
- able to hide a specific terminal

What I've asked is for you to describe in dot points what you want, there is literally only one dot point & a huge paragraph the

[2021-08-14 15:06] G-Rowell commented on #247
I suggest closing https://github.com/siduck76/NvChad/issues/249 & https://github.com/siduck76/NvChad/issues/248

And rename this as `Terminal features/tools wishlist`

[2021-08-14 15:06] #249 closed

[2021-08-14 15:06] #248 closed

[2021-08-14 15:08] siduck76 commented on #247
## Todo

- mapping to create terminal in vert , horizontal directions  ( split )
- mapping to create terminal buffer ( should show the buffer in bufferline)
- Being able to toggle a specific terminal ( doesnt matter if its nolistedbuf or a buffer terminal)
- Being able to untoggle terminal buffers or nolistedbuf terminals from telescope by selecting them.

[2021-08-14 17:25] siduck76 commented on #250
@amistyrain update your nvchad config and let me know if the problem is still there!

[2021-08-14 17:26] #250 closed

[2021-08-14 21:13] insidersbuilt opened #254 "Lsp does not restarts after i solved the bug"
one the bug is solved i have to manuly stop and start the lsp idk why did i messed up some settings or this is the same with yo all guys

[2021-08-14 21:18] JustSage commented on #254
Please explain your issue with some sense.
You **can** manually stop Lsp from running, the default start operation is to attach when reading a buffer.
So if understood correctly, the issue is in your configurations.

Are you using NvChad's latest version ?

[2021-08-15 07:06] G-Rowell commented on #247
Being able to untoggle terminal buffers or nolistedbuf terminals from telescope by selecting them.
1. Can you clarify what you mean by `toggle` and `untoggle` in this context?

2. Can you clarify what you mean by this? (or what your conceptual idea here is)

[2021-08-15 07:10] siduck76 commented on #247
- toggle = hide the terminal completely
- untoggle = unhide it ( dont worry about the direction )
- we could use telescope to untoggle and let the user set direction for untoggling it ( ctrl + v or ctrl +x )

- for example when you try :telescope buffers :
- pressing ctrl +v on the selected item wil open the item vertically

![image](https://user-images.githubusercontent.com/59060246/129470190-d41

[2021-08-15 07:14] G-Rowell commented on #247
@siduck76

Ah awesome!
Your comment really clarifies what you're thinking, thank you, it's great.

May ask more soon but ty :heart:

[2021-08-15 07:15] siduck76 commented on #247
Its day here so there's enough light in my room and actually read your comments properly and be sane :rofl:

[2021-08-15 08:04] insidersbuilt commented on #254
i just downloaded the letest verion of it and it worked i upgraded it yesterday i think they patched it tody thanks it solved

[2021-08-15 08:04] #254 closed

[2021-08-15 08:51] siduck76 commented on #247
## NEW WISHLIST

- add previous ( old ) mappings to open terminals in two directions ( hori and vert).
- hide a terminal  wheter its a buffer or nolistedbuffer ( if its a terminal window then its buffer shouldnt be visible in bufferline )
- open the hidden nolisted or terminal buffer window with telescope.

[2021-08-15 10:09] insidersbuilt opened #255 "customization for the colorizer"
how can i add my custom settings to the colorizer

![image](https://user-images.githubusercontent.com/87114084/129474923-dc278782-917a-465d-8514-708111af913c.png)

and also can any one tell me what the &it;<leader&gt;fw does because it open the teliscope some live grep but it deos not do anything. It worked once a long time ago but now how can i make it work am i missing something

[2021-08-15 11:13] siduck76 commented on #255
![image](https://user-images.githubusercontent.com/59060246/129476507-2e39a126-cece-443f-8953-05bafc107c49.png)

dont use ()'s

[2021-08-15 11:48] insidersbuilt commented on #255
it does not works

[2021-08-15 13:19] G-Rowell commented on #247
So currently it's looking like on the larger problems is remembering where to put a terminal buffer that we want to `unhide`.
I'm trying to brainstorm a reasonable way to choose where it goes back to?

Like we can hide a buffer terminal, sure.
But there is no nice way to put them back unless we wrap them in our own Lua object, exactly like `nvim-toggleterm.lua` does.

:/

Note, I currently do have

[2021-08-15 13:21] siduck76 commented on #247
Idk much about it , maybe you can store them in :ls! , also if there's a way to open no listed buffers with telescope then its gonna be easy to un-hide them.

[2021-08-15 13:29] siduck76 commented on #244
HighStr.nvim didnt go well , so I'll test cheatsheet.nvim

so far :Cheatsheet looks like this

![image](https://user-images.githubusercontent.com/59060246/129480182-918c758e-0d28-4869-a5c6-5086f27efdd6.png)

[2021-08-15 13:29] G-Rowell commented on #247
Ahhhh,

my point is

There is no way to tell if a `hidden terminal` came from a split, vertical split or separate window/buffer

So there is no great way to tell them apart when restoring them

[2021-08-15 13:42] siduck76 commented on #247
Dont worry , as I told we will be restoring them via telescope so it depends on the user that how he restores them.

-  Suppose there are list of hidden terminal buffers and the user views them with telescope , just like :telescope buffer .
-  When a hidden terminal buffer is selected in the list and the user presses enter , the terminal buffer opens as window.
- If the user presses  Ctrl - v on t

[2021-08-15 13:43] siduck76 commented on #247
oops pressed the close issue by mistake xD

[2021-08-15 13:45] siduck76 commented on #247
I told you already , we will keep both toggleterm and previous terminal setup .

- toggle term is limited ( can handle 3 terminals only ) so its gonna be used for automatic term toggles since it also manages the directions.

- Chad old terminal setup , this is for manual hiding / unhiding of terminals .

[2021-08-15 13:47] G-Rowell commented on #247
Maybe....just maybe can make a poorly coded, but better working terminal system

BIG HMMMMMMMMMMMMMMMMMMMMMMM ENERGY

[2021-08-15 14:45] siduck76 commented on #244
Ok so I think we can do this without using any plugin. The main concept is to loop through the mapping table in chadrc , this way it is dynamic too + no need to define mappings in some file.

[2021-08-15 14:47] siduck76 commented on #244
# Concept

- Suppose this is the table which is about to getting printed :

![image](https://user-images.githubusercontent.com/59060246/129482394-88a94e15-72b7-412e-b6cf-05074b4b6f62.png)

- Stuffs to do when printing the table :

![image](https://user-images.githubusercontent.com/59060246/129482421-9deceeec-66d0-4416-b9e4-ede5b6be4ef8.png)

[2021-08-15 15:14] siduck76 commented on #244
@Akianonymus what do you think of this?

[2021-08-15 17:23] laraib07 opened #256 "Disabling vim-matchup messes up statusline."
**Describe the bug**
if vim-matchup is disabled, statusline doesnt appear on startup. To make it appear I have to toggle nvim-tree twice.

**To Reproduce**
Steps to reproduce the behavior:
1. disable vim-matchup in chadrc
2. do PackerSync
3. exit and reopen vim
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add sc

[2021-08-16 00:39] siduck76 commented on #244
[code]

![image](https://user-images.githubusercontent.com/59060246/129497746-436c5448-6c14-4e6b-8505-27edb0b2f144.png)

[2021-08-16 00:49] ashincoder commented on #256
yes I am able to reproduce the problem.

[2021-08-16 00:49] ashincoder commented on #256
![2021-08-16-061931_1366x768_scrot](https://user-images.githubusercontent.com/83629316/129498091-d6e0247a-24a7-4c15-bbb3-0e5249e41a0b.png)

[2021-08-16 00:52] siduck76 commented on #256
Yes it happens with me too , also try opening telescope . It doesnt work either

![image](https://user-images.githubusercontent.com/59060246/129498181-b196df93-7802-4884-a3b0-dbeeaeb08468.png)

[2021-08-16 00:54] ashincoder commented on #256
we may have to investigate

[2021-08-16 00:55] siduck76 commented on #256
it breaks up plenary too BRUH

![image](https://user-images.githubusercontent.com/59060246/129498333-11e09c23-0766-4eb8-98bb-bab249ba347d.png)

[2021-08-16 00:56] siduck76 commented on #256
I wonder how could vim matchup which literally has no config can cause such severe issue :disappointed:

[2021-08-16 01:53] ashincoder commented on #68
@siduck76 do u think on adding orgmode.nvim

[2021-08-16 01:55] siduck76 commented on #68
yes in 2.0v

[2021-08-16 01:57] ashincoder commented on #68
ok

[2021-08-16 02:32] Akianonymus commented on #247
No idea 😂

[2021-08-16 02:34] Akianonymus commented on #244
Fetching the mappings isn't a problem, mainly how to make the floating window and stuff.

[2021-08-16 02:51] siduck76 commented on #244
https://github.com/fhill2/floating.nvim#readme

[2021-08-16 03:02] ashincoder commented on #256
@Akianonymus and @G-Rowell could u please check on this issue..

[2021-08-16 03:29] G-Rowell commented on #244
I think we're reinventing the wheel here imo

There are already plugins to display mappings

[2021-08-16 03:51] siduck76 commented on #244
only whichkey is dynamic but its annoying to use .

https://github.com/sudormrfbin/cheatsheet.nvim/issues/7 if this gets resolved then we'll use this.

[2021-08-16 03:56] G-Rowell commented on #244
So those are for sure fair points

But I think the ideal solution is to make a PR upstream to provide that functionality, rather than make our own new plugin

[2021-08-16 04:04] siduck76 commented on #244
yes ,we could add a PR to cheatsheet.nvim only

[2021-08-16 04:11] Akianonymus commented on #256
It is happening because  for some reason, after disabling vim matchup, plenary doesn't load, along with popup.nvim.

[2021-08-16 05:59] G-Rowell commented on #242
@siduck76
Is this a duplicate of https://github.com/NvChad/NvChad/issues/243?

[2021-08-16 06:00] G-Rowell commented on #245
@siduck76

Should this be closed due to the main commit #245?

[2021-08-16 06:22] ashincoder commented on #255
to add custom settings for colorsizer:
lua```
M.colorizer = function()
    local present, colorizer = pcall(require, "colorizer")
    if present then
           colorizer.setup({ "*" }, {
    RGB = true, -- #RGB hex codes
    RRGGBB = true, -- #RRGGBB hex codes
    RRGGBBAA = true, -- #RRGGBBAA hex codes
    rgb_fn = true, -- CSS rgb() and rgba() functions
    hsl_fn = true, -- CSS hsl() and hsla(

[2021-08-16 06:48] siduck76 commented on #242
nah lol

[2021-08-16 07:41] ashincoder commented on #245
closing, as commit #245 enhancement has been added

[2021-08-16 07:41] #245 closed

[2021-08-16 13:54] #243 closed

[2021-08-16 13:55] siduck76 commented on #242
light themes are very tough to make IMO , so i'll add this probably after 1.0v

[2021-08-16 13:55] #242 closed

[2021-08-16 14:25] mculp opened #262 "1-2 sec freeze after saving buffer"
**Describe the bug**
Whenever I save a file, I get a 1-2 second hang. I believe this started after I added Ruby to LSP, but I've tried re-installing NvChad to get default settings and everything and it's still occurring. It happens with non-ruby files too.

**To Reproduce**
possible steps to reproduce the behavior:
1. enable Ruby support for LSP
2. `:w` any file

**Expected behavior**
I expect sav

[2021-08-16 14:34] siduck76 commented on #262
could you provide a video or such to demonstrate this behaviour? @mculp

[2021-08-16 14:47] G-Rowell commented on #262
Hmmmm, @mculp

I think a better priority for debugging might be to check 2 things:
Can you give us the output of:
- `:checkhealth` this does as the name says
- `:au` this will list all of the auto-commands that you have

Understandably frustrating, we'll see if we can help!

It's 1am in my timezone so I might have to come back to this when I wake up tomorrow

[2021-08-16 17:08] #244 closed

[2021-08-16 17:09] siduck76 commented on #255
dont do live grep in home folder , cd into some folder and do live grep!

[2021-08-16 17:09] #255 closed

[2021-08-16 17:34] siduck76 commented on #230
@dmatos2012 @nift4 I assume this issue is fixed . I'll close this , feel free to open it if the issue still persists.

[2021-08-16 17:34] #230 closed

[2021-08-16 17:35] siduck76 commented on #169
This issue increases the issue number count  , hence Bloat xD

[2021-08-16 17:35] #169 closed

[2021-08-16 18:02] siduck76 commented on #86
@Iorvethe could you use similar colors?

https://cdn.dribbble.com/users/393931/screenshots/6138086/zawadi_02-04-04_4x.png

[2021-08-16 18:28] siduck76 commented on #86
Guys ik this is too early! But if by any chance someone could improve this or make a better logo before 19th then it will be very nice , gotta add the logo on the website ( gonna start  working with it soon )

[2021-08-17 01:39] G-Rowell commented on #86
@Iorvethe

You that's pretty awesome!
Very cool :smile:

[2021-08-17 03:38] se7en-x230 opened #264 "How do I navigate between terminals?"
I can't find a way to move via keybindings between vim and split terminal other than the mouse.

[2021-08-17 03:40] G-Rowell commented on #264
Hi @se7en-x230,

it's done in the standard vim way, with `<CNTL> + w + (h,j,k,l)`.

We'll likely change these bindings at some point to make it easier,
hope this helps

[2021-08-17 03:40] #264 closed

[2021-08-17 03:42] Akianonymus commented on #264
see `h moving-windows` for more info.

[2021-08-17 06:37] G-Rowell commented on #256
Is this related to my issue?

I think I have an issue related to `vim-matchup` where after multiple `:ls!`, suddenly every NeoVim config file is loaded as a hidden buffer......

[2021-08-17 12:30] DylanSatow opened #265 "HTML autocompletion not working"
**Is your feature request related to a problem? Please describe.**
This seems like it should be simple, but I just can't get it to work. When I type <div>, I want it to automatically add a </div>, and when I click return in the center of a tag, I want it to space the tags properly. It seems like there is some obscure setting missing.

**Describe the solution you'd like**
I would like to be able to

[2021-08-17 12:33] G-Rowell commented on #265
Hi Dylan,

NvChad doesn't come with language specific configuration, that's up to the user to decide.

Can you try `:LspInstall html` to start off with?

G

[2021-08-17 12:36] DylanSatow commented on #265
Hey,

I already installed the language server. When I just type div, I can autocomplete it to <div></div>, but this doesn't really work for me, as there is no easy way to quickly added attributes. It seems like I just need to change something really small, but I can't find what it is.

Thanks

[2021-08-17 12:39] siduck76 commented on #265
dont type div , type <di and you will see the completion

[2021-08-17 12:39] G-Rowell commented on #265
Hmmmm,

I've sent a message to the other maintainers, they know about more about the LSP side of things.

Hopefully we'll get you sorted ASAP

[2021-08-17 12:41] siduck76 commented on #265
@DylanSatow works for me

![image](https://user-images.githubusercontent.com/59060246/129727323-913e3635-8bc6-4bd8-a365-07dadd25e31e.png)

[2021-08-17 12:42] siduck76 commented on #265
dont use < , if you need snippets

![image](https://user-images.githubusercontent.com/59060246/129727397-58da96eb-d20c-42d2-94a3-c3c6c61d7dae.png)

[2021-08-17 12:49] siduck76 commented on #265
add this in your pluginlist.lua :

[code]

[2021-08-17 12:50] G-Rowell commented on #265
Hmmmmm,

this would certainly be part of [LuaSnip](https://github.com/L3MON4D3/LuaSnip/),

try the [Nice configs](https://github.com/L3MON4D3/LuaSnip/wiki/Nice-Configs)
and [examples](https://github.com/L3MON4D3/LuaSnip/blob/master/Examples/snippets.lua)

[2021-08-17 13:08] DylanSatow commented on #265
When I install it, where should I add the installation option code? It is intended for a standard .vimrc, and it doesn't work in the init.lua file. Is there a separate file in this setup for config code like that for plugins?

[2021-08-17 13:11] siduck76 commented on #265
give me the config , i'll tell.

[2021-08-17 13:12] DylanSatow commented on #265
" filenames like *.xml, *.html, *.xhtml, ...
" These are the file extensions where this plugin is enabled.
"
let g:closetag_filenames = '*.html,*.xhtml,*.phtml'

" filenames like *.xml, *.xhtml, ...
" This will make the list of non-closing tags self-closing in the specified files.
"
let g:closetag_xhtml_filenames = '*.xhtml,*.jsx'

" filetypes like xml, html, xhtml, ...
" These are the file types

[2021-08-17 13:15] mculp commented on #262
So I narrowed it down to nvimtree. Here's a recording. Notice how the cursor just disappears for 1-2 sec after saving after I open nvimtree. Even if I close the nvimtree pane, once it's been loaded, the behavior still occurs

https://www.loom.com/share/2406553c09924040a94036fa5d1b8c77

[2021-08-17 13:16] siduck76 commented on #265
look , local g:anything='abc' will change into vim.g.anything='abc'

So i'll help with some :

[code]

[2021-08-17 13:17] siduck76 commented on #265
also let g:anything="xyz" , will turn to vim.g.anything = "xyz" , I suggest you learning some lua :)

[2021-08-17 13:20] siduck76 commented on #262
you sure ,you're using latest version of nvchad? cuz there was a mapping in older version which had some lag.

[2021-08-17 13:23] mculp commented on #262
Updated yesterday, but I can try updating again

[code]

[2021-08-17 13:26] DylanSatow commented on #265
Yeah I just need to sit down and read some documentation.

My hopefully last issue is that lua doesn't like this statement because of the collon

closetag_regions = {
    'typescript.tsx': 'jsxRegion,tsxRegion',
    'javascript.jsx': 'jsxRegion',
    'typescriptreact': 'jsxRegion,tsxRegion',
    'javascriptreact': 'jsxRegion',
     }

[2021-08-17 13:28] mculp commented on #262
I found this, will try it out

https://github.com/kyazdani42/nvim-tree.lua/issues/549

[2021-08-17 13:30] mculp commented on #262
This was the problem! Thanks, I'll close this now.

[2021-08-17 13:30] #262 closed

[2021-08-17 13:35] Iorvethe commented on #86
Thank you very much! ^^

[2021-08-17 13:37] G-Rowell commented on #262
Ahhhh, glad it's fixed!

[2021-08-17 13:38] siduck76 commented on #86
also @lorvethe , could you make a logo with transparent bg too?

[2021-08-17 13:41] siduck76 commented on #265
closetag_regions = {
typescript.tsx=  { 'jsxRegion','tsxRegion'},
javascript.jsx= 'jsxRegion',
}

should work i think

[2021-08-17 14:10] Iorvethe commented on #86
There you go, the same but with the colors from the link above.

## With light and dark background

![mock_v2](https://user-images.githubusercontent.com/58810330/129737411-def216cc-126c-4410-a6cc-324e15a6568a.png)

## With transparent background

![transp_back](https://user-images.githubusercontent.com/58810330/129740641-d3369cc0-19d6-4e2c-a4c5-eb5629da6d62.png)

[2021-08-17 14:14] siduck76 commented on #86
Awesome! this looks very nice .

[2021-08-17 14:16] #86 closed

[2021-08-17 14:18] Iorvethe commented on #86
Do you want it in the SVG file format?

[2021-08-17 14:18] siduck76 commented on #86
ofc :)

[2021-08-17 14:23] Iorvethe commented on #86
Any idea how I can send it to you? Apparently Github doesn't support this format...

Via e-mail or maybe through an MR?

[2021-08-17 14:24] siduck76 commented on #86
join our discord server https://discord.gg/sDKUMn3q

[2021-08-17 19:33] #265 closed

[2021-08-17 22:27] DylanSatow opened #270 "Snippets stop working when in Django template html files"
**Describe the bug**
In a blank html file, when I type something like `div`, I am prompted to expand it to `<div></div>`. However, in a file where I type `{% extends 'layout.html' %}` then close and reopen it, I lose all luasnip prompts. I'm not sure if it's possible to register Django templates as valid html in Lsp.

**To Reproduce**
Steps to reproduce the behavior:
1. Create file test.html
2. ad

[2021-08-17 22:59] JustSage commented on #270
NvChad is not offering language specific nor framework specific settings, hence you will have to sort this out on your own.

Done a bit of searching for your case regardless and I suggest the following:
1) I'd recommend checking providers and python virtual env by `:checkhealth`.
2) Assuming you're using `LspInstall` it offers `pyright` for python lsp which is currently the best lsp provider.
3) C

[2021-08-17 23:52] ashincoder commented on #256
The issue still remains. When I disable vim_machup galaxyline doesn't open

[2021-08-18 02:34] siduck76 commented on #256
Its the same with staline.nvim but other statusline do work .

[2021-08-18 03:59] Anonysus69 commented on #68
Shouldn't this be closed.user config is implemented and we can update.pocco is working on something to update.but we can do updates now using git pull and nvim +Packersync

[2021-08-18 04:01] siduck76 commented on #68
yes I'll close this when the update command is added to new docs ( site ) , Aki is working on a updater.lua so gotta wait

[2021-08-18 04:04] ashincoder commented on #256
Lualine is great

[2021-08-18 04:06] siduck76 commented on #256
If someone comes forward to replicate our current setup with lualine then we'll use it , also its og repo isnt maintained anymore :(

[2021-08-18 04:06] ashincoder commented on #256
But there is a fork so it would be better

[2021-08-18 04:11] siduck76 commented on #256
which one?

[2021-08-18 04:13] laraib07 commented on #256
If you are considering to change statusline, Please consider feline. it constantly get updated and has good documentation.

[2021-08-18 04:32] siduck76 commented on #256
I have tried that , its config looked scary xD

[2021-08-18 04:33] siduck76 commented on #256
If someone can replicate our current statusline with feline or lualine then it would be nice , im working on docs today!

[2021-08-18 05:10] se7en-x230 opened #273 "Guidance with default_config.lua"
I guess default_config is the custom settings file.

I added:
-- test to add "start edit where last left the file" from options.lua in default_config
`vim.cmd [[ au BufReadPost * if expand('%:p') !~# '\m/\.git/' && line("'\"") > 1 && line("'\"") <= line("$") | exe "normal! g'\"" | endif ]]`

Is that the correct way and file to add that feature?

[2021-08-18 05:22] siduck76 commented on #273
@se7en-x230  dont mess with default_config  , chadrc.lua is the user config . edit that!

[2021-08-18 05:24] se7en-x230 commented on #273
Thanks

[2021-08-18 05:24] #273 closed

[2021-08-18 05:40] laraib07 commented on #256
@siduck76 check this out
https://github.com/Famiu/feline.nvim#example-config

I guess you can disable statusline for some filetype and bufftype from feline config itself. No need to disable it explicitly elsewhere.

[2021-08-18 05:41] mqku opened #274 "TikTok checker"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-08-18 05:42] mqku commented on #274
Tik

[2021-08-18 05:42] siduck76 commented on #274
Tiktok? what does that mean

[2021-08-18 05:45] G-Rowell commented on #274
Ummmm, you've provided no description. :laughing:

Happy to open this again if you do provide any info

[2021-08-18 05:45] #274 closed

[2021-08-18 05:45] siduck76 commented on #256
looks promising! I'll try this when the nvchad site is partially ready!

[2021-08-18 07:21] G-Rowell commented on #273
We're adding some documentation to this very soon!

[2021-08-18 07:31] G-Rowell opened #276 "Cheatsheet has disabled plugins listed (eg. netrw inbuilt plugin)"
**Describe the bug**
The cheatsheet plugin will show disabled plugin mappings even if they are disabled.
For example, it will show `netrw` inbuilt file manager for vim, mappings

**To Reproduce**
Steps to reproduce the behavior:
1. In `chadrc.lua` change `plugin_status.cheatsheet = true`
2. Do `:PackerSync`
3. Restart NeoVim
4. Run cheatsheet with `<leader> + d + k`
5. Search for & see the `netrw`

[2021-08-18 07:34] siduck76 commented on #276
This issue should go in cheatsheet.nvim repo.

[2021-08-18 07:35] G-Rowell commented on #276
No, because it's a config issue.
If you read the README of cheatsheet.nvim, it tells you how to disable these features

[2021-08-18 07:38] G-Rowell commented on #276
See this section: https://github.com/sudormrfbin/cheatsheet.nvim#configuration

[2021-08-18 08:02] G-Rowell commented on #247
Closing, implemented by PR: https://github.com/NvChad/NvChad/pull/275

Discussion can continue there

[2021-08-18 08:02] #247 closed

[2021-08-18 08:03] G-Rowell commented on #241
Should be solved by PR: https://github.com/NvChad/NvChad/pull/275

When it is merged

[2021-08-18 08:03] #241 closed

[2021-08-18 09:29] Abod812268 opened #277 "Z.x1"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-08-18 09:33] #277 closed

[2021-08-18 09:41] locc4 opened #278 "‏ tiktok checker"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-08-18 09:41] #278 closed

[2021-08-18 09:42] locc4 commented on #278
- [ ] ‏ tiktok checker
@G-Rowell ![image](https://user-images.githubusercontent.com/89132719/129876223-1bd81a4d-7d36-4e93-a656-d6759ce1d584.jpeg)[[[[rfr]()]()]()]()

[2021-08-18 09:42] siduck76 commented on #278
@locc4 STOP

[2021-08-18 09:44] locc4 commented on #278
كلزق😂

[2021-08-18 13:52] godspeedfw opened #282 "Can't copy using terminal keybinds?"
**Describe the bug**
I can't copy stuff from nvim to clipboard using terminal copy keybind. I think I was able to do this a while ago?

**To Reproduce**
Steps to reproduce the behavior:
1. Select text in nvim.
2. Try coping it using terminal keybinds.

**Expected behavior**
Copy to clipboard

**Desktop (please complete the following information):**
 - Operating System: arch
 - Terminal: st/alacrit

[2021-08-18 14:00] G-Rowell commented on #282
Hi  @godspeedfw,

In the future, if you've made an Issue, please wait a while before coming to the Discord!

NvChad by default uses the system clipboard as it's primary register.

Try:
- open a file in NeoVim, type `yy` to yank/copy a line,
- go to a different application, try paste `<CNTL> + v`, this should work

[2021-08-18 14:01] G-Rowell commented on #282
It's worth noting that this also depends upon several different layers in your system,
primarily the
- terminal emulator
and the
- running terminal application

[2021-08-18 14:04] godspeedfw commented on #282
I apologize for that.

This works but I wanted to know why the terminal keybindings aren't working. I believe they were working before. Also, the paste keybind works but the copy keybind doesn't.

[2021-08-18 14:06] G-Rowell commented on #282
No problem at all friend! (We've seen a huge influx is users over the last few days :smile:)

Let me try this.....hmmm

[2021-08-18 14:09] G-Rowell commented on #282
I can confirm that my normal `<CNTL> + <SHIFT> + c` bind does not work,
but I copy text from NeoVim the vim way with `y` *yank*ing the text.

Can't say I know off the top of my head, sorry

Is this okay to close now?
If it's a major issue we can reopen it if need be

[2021-08-18 14:13] godspeedfw commented on #282
Ah, alright. It would have been nice if this could be fixed but I guess I'll just use `y`.

[2021-08-18 14:14] G-Rowell commented on #282
Another option is to map this yourself (presuming no conflicting mappings)

[2021-08-18 14:16] G-Rowell commented on #282
With something like

`map("v", "<C-c>", "y", opt)`

for a visual modemapping
`<CNTL> + c`
to `y`ank

[2021-08-18 14:24] godspeedfw commented on #282
How do I bind it to ctrl+shift+c ?

[2021-08-18 14:25] G-Rowell commented on #282
Change the c to a capital C

[2021-08-18 14:35] godspeedfw commented on #282
That doesn't work.

[2021-08-18 14:44] G-Rowell commented on #282
I believe it does for me?
Could you provide a little more information

[2021-08-18 14:57] G-Rowell commented on #282
I can confirm that putting

`map("v", "<C-C>", "y", opt)`

in `mappings.lua` worked for me.

I went into visual mode by pressing `v`,
selected a few lines of text,
pressed `<CNTL> + <SHIFT> + c`,
the line were correctly yanked.

Also lowercase `c` to remove the need for `<SHIFT>` can be done with:
`map("v", "<C-c>", "y", opt)`

As I've tested these and they work I might go ahead and close this,
fe

[2021-08-18 14:57] #282 closed

[2021-08-18 15:03] godspeedfw commented on #282
`map("v", "<C-C>", "y", opt)` doesn't work for me

https://user-images.githubusercontent.com/74945202/129922305-52608677-1e30-4c69-a683-ca59f8744171.mp4

Which terminal did you test it on?

[2021-08-18 23:09] Abtahi27 opened #283 "Showcase"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-08-18 23:11] Abtahi27 opened #284 "Any question you can tell me."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem was.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other con

[2021-08-18 23:57] #284 closed

[2021-08-18 23:57] #283 closed

[2021-08-19 00:01] ashincoder commented on #276
@siduck76 I don't think cheatsheet can be a replacement for which-key. Cause if u forget a keybind it is no efficient and pratical to check cheatsheet. I think it is much better to use which-key. May I know why u did not choose which-key.

[2021-08-19 02:26] G-Rowell commented on #276
I do think there is some good value in whichkey tbh

Hmmmmmm ........

[2021-08-19 03:04] siduck76 commented on #276
I dont like pressing space and waiting for it to popup ,  I wanted a cheatsheet in which we could search and navigate .

[2021-08-19 03:07] siduck76 commented on #276
https://github.com/sudormrfbin/cheatsheet.nvim/issues/8

[2021-08-19 03:16] G-Rowell commented on #276
We could honestly have both?

Because I'm tempted to install `whichkey` personally

And then we can have them both disabled but have `enable mapping helpers` in the docs?

Dunno but hmmm..... :thinking:

[2021-08-19 03:33] siduck76 commented on #276
nah only one! :angry:

[2021-08-19 04:22] ashincoder commented on #276
I mean u don't have to wait u can adjust the speed with `vim.opt.timeoutlen`lua

[2021-08-19 04:27] ashincoder commented on #276
I don't know why the backface to whichkey cause it can be lazyloaded. It can be configured easily. The time interval can be changed. Why ??. Whichkey is more versatile and more efficient.

[2021-08-19 04:31] siduck76 commented on #276
can we search stuff in whichkey? cheatsheet.nvim is integrated well with telescope.

[2021-08-19 04:32] ashincoder commented on #276
we just have to take a look . We don't even have to search

[2021-08-19 04:35] siduck76 commented on #276
agreed. I want whichkey to show all nvchad configs like this :

https://cdn.discordapp.com/attachments/869561752906514472/876864282984349727/vim_cheatsheet-aa3d676c.png

[2021-08-19 04:36] ashincoder commented on #276
Don't u know whichkey. It is like integrated popup which shows all the keybindings

[2021-08-19 04:36] ashincoder commented on #276
It doesn't show in the terminal like u have shown

[2021-08-19 04:39] siduck76 commented on #276
Ik , I meant showing a popup in neovim with all nvchad mappings.

[2021-08-19 04:40] ashincoder commented on #276
U may have to hardcord it to show the description

[2021-08-19 04:40] siduck76 commented on #276
oh :l , cheatsheet.nvim already does it.

[2021-08-19 04:41] ashincoder commented on #276
It does but don't u think whichkey.nvim is more friendly and efficient

[2021-08-19 04:42] siduck76 commented on #276
I'll have to think about it , if someone works on showing all nvchad keybinds + their desc in whichkey then Im gonna consider replace it with cheatsheet.nvim

[2021-08-19 04:42] siduck76 commented on #276
https://github.com/NvChad/NvChad/issues/244#issuecomment-899061592

[2021-08-19 04:43] se7en-x230 opened #286 "Install git clone not working"
The install instructions on the install page
`git clone git@github.com:NvChad/NvChad.git ~/.config/nvim --depth 10 && nvim +PackerSync`
asks for fingerprint and gives
`Please make sure you have the correct access rights and the repository exists.`

[2021-08-19 04:47] ashincoder commented on #276
MM. It would be great to work on it.

[2021-08-19 04:48] ashincoder commented on #276
Shall we remove the bug label.

[2021-08-19 04:49] kimjoaoun commented on #286
Have you tried cloning the repository using the HTTPS url?

[2021-08-19 04:59] siduck76 commented on #286
@se7en-x230 https://nvchad.netlify.app/docs/Getting%20started/Setup#install

[2021-08-19 04:59] #286 closed

[2021-08-19 04:59] se7en-x230 commented on #286
`git clone https://github.com/NvChad/NvChad.git ~/.config/nvim --depth 10 && nvim +PackerSync`
Works fine.

So I guess the the entry is not correct on the install page

[2021-08-19 06:36] Nhutnam1997 opened #287 "Dạ"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-08-19 06:39] #287 closed

[2021-08-19 06:44] slfg opened #289 "Unable to use my custom theme"
After creating a theme (both the lua file and the base16) I'm unable to use my custom theme, it gives me an error when selecting the theme with space + t + h saying the following:

`Error: Cannot load highlights plugin!
Error: Not able to realod all plugins.`

[2021-08-19 07:13] siduck76 commented on #289
@slfg you need to add it on nvim base16 repo

[2021-08-19 07:40] G-Rowell commented on #286
We're in the middle of updating our docs,
the issue caused by cloning with `git clone git@github.com:NvChad/NvChad.git ~/.config/nvim --depth 10 && nvim +PackerSync`
is that you don't have git SSH keys set up

https://docs.github.com/en/github/authenticating-to-github/connecting-to-github-with-ssh

Check this out

The HTTP link works fine though, so no real issue with just using that

[2021-08-19 07:50] ddiaz2380 opened #291 "Chad user configs javascript"
Is it possible to have a javascript LspInstall?

[2021-08-19 07:51] siduck76 commented on #291
:LspInstall typescript

[2021-08-19 07:51] siduck76 commented on #291
This has js stuff too Ig

[2021-08-19 07:52] ddiaz2380 commented on #291
Yes but it is not pure javascript

[2021-08-19 07:52] G-Rowell commented on #291
Hi @ddiaz2380,

consider checking out our docs

https://nvchad.netlify.app/docs/Getting%20started/Post%20Install

[2021-08-19 07:53] siduck76 commented on #291
I dont think lspconfig has a javscript lsp

[2021-08-19 07:53] ddiaz2380 commented on #291
ok thx!

[2021-08-19 07:54] siduck76 commented on #291
![image](https://user-images.githubusercontent.com/59060246/130030031-45125ebc-92cc-480a-8c36-e6438280f613.png)

[2021-08-19 07:54] #291 closed

[2021-08-19 12:23] G-Rowell commented on #282
Hi Godspeed,

make you restart NeoVim each time you update the mappings,
then can you try without the mouse please

(I don't imagine that's the issue but I want to narrow this down)

`map("v", "<C-C>", "y", opt)`
works for me on
Debian 10,
KDE,
Konsole

Copy-paste tends to be something the OS/DE handles, rather than the terminal emulator.
Give this a shot again and then we'll delve into it more

[2021-08-19 12:29] godspeedfw commented on #282
I tried without the mouse and it doesn't work.
I am using Arch, dwm, st.

[2021-08-19 12:31] godspeedfw commented on #282
I tried it on konsole and it works but not on alacritty or st.

[2021-08-19 12:41] G-Rowell commented on #282
Hmmm, it must be a setting within Alacritty & St then?

Check their mappings to see if anything is mapped to that as well,

Test a different key-map like `map("v", "<leader>", "y", opt)`  (leader is space)

[2021-08-19 13:18] godspeedfw commented on #282
They don't work either. It's okay, I'll just use the vim bindings.

[2021-08-19 13:19] siduck76 commented on #270
I agree with @JustSage , would be better to make an issue in luasnip I think.

[2021-08-19 15:24] skrapi opened #296 "Tmux statusline color covers whole terminal"
**Describe the bug**
A clear and concise description of what the bug is.

Firstly, I really love what you are doing here, and this is a specific bug that should not be prioritized unless others experience it as well. I am not sure where to start debugging, but happy to try with some guidance.  Onto the problem:

When I ssh into a Linux machine from a MacOS machine, I enter into a tmux session and

[2021-08-19 15:31] G-Rowell commented on #296
Hmmm, it's 1:30am for me so I'll have to look into this tomorrow

It's strange because the theme does set a background colour,
[eg the default bg colour](https://github.com/NvChad/NvChad/blob/main/lua/themes/onedark.lua#L4)

I can understand that's annoying, though this may be hard to hunt down what causes this we'll try!

Also, there are members more experienced with theming than I am, so maybe t

[2021-08-19 15:33] JustSage commented on #296
You’re welcome to join our discord server and I’ll try to help you sort this out :)

[2021-08-19 15:38] ashincoder commented on #296
I am pretty sure it is no problem in directly opening neovim in tmux in linux. I will have to use ssh then somehow.
![2021-08-19-210807_1366x768_scrot](https://user-images.githubusercontent.com/83629316/130098650-70815303-a6db-4302-af9f-cd25418fde0c.png)

[2021-08-19 15:43] marvelman3284 commented on #246
If I understand right this should be on hold until the website is finished?

[2021-08-19 15:46] JojiiOfficial opened #297 "[rust] Macro completion behaves weird"
**Describe the bug**
Accepting `vec![]` from suggestions gives a wrong completion result.
Given the following input with its completion suggestions from rust-analyzer:
![image](https://user-images.githubusercontent.com/15957865/130099267-38ba2a25-87c6-4d1e-88d2-c8345d00ec5f.png)
Accepting `vec![]` from the options results in following code:
![image](https://user-images.githubusercontent.com/159578

[2021-08-19 16:53] siduck76 commented on #68
https://nvchad.netlify.app/docs/getting%20started/setup/#update

[2021-08-19 16:53] #68 closed

[2021-08-19 16:53] siduck76 commented on #246
yes done!

[2021-08-19 16:53] #246 closed

[2021-08-19 16:54] siduck76 commented on #246
https://nvchad.netlify.app/docs/Config

[2021-08-19 18:45] joelash commented on #286
Semi-related issue but following these I get the following error on the `nvim +PackerSync`

[code]

[2021-08-19 18:50] joelash commented on #286
Looks like I didn't have the right version of nvim installed, my bad

[2021-08-19 20:23] Bigg-Iron opened #300 "[Question] Desktop Background"
**Is your feature request related to a problem? Please describe.**

Not related to a problem, but I would like to know where I can find the picture you are using in the first screenshot. It looks great as a desktop background.

[2021-08-19 20:27] tejasag commented on #300
https://github.com/siduck76/dotfiles/blob/master/wall/neon.png

[2021-08-19 20:45] ccope opened #301 "Setup page should clarify Node usage"
I prefer to avoid depending on Node.js in my configs if possible. The plugin is fully written in Lua, and is using nvim-lsp (also lua), so I was curious what might need it. As far as I can tell, the only thing that may require Node.js is some of the LSP servers?

[2021-08-19 21:30] JustSage commented on #301
Yes, LspInstall depends on npm to install lsp's.

[2021-08-19 22:35] ammmir commented on #286
+1

[2021-08-19 23:42] slfg commented on #289
how to?

[2021-08-19 23:46] zbirenbaum opened #302 "coq.nvim option"
Right now completion is done through compe, but this repo: https://github.com/ms-jpq/coq_nvim made big waves on reddit the other day supposedly being by far the fastest completion engine available. Given that most glitches/performance issues I have had have been compe related, I think it would be worthwhile to look into having a switch in user config or something to select the completion engine yo

[2021-08-20 00:14] #300 closed

[2021-08-20 00:37] Eduruiz opened #303 "Load last session shortcut from dashboard is outdated"
**Describe the bug**
The load last session from dashboard shows the shortcut `SPC s l` but the working one is `<leader>l` according to `chadrc

**To Reproduce**
Steps to reproduce the behavior:
1. Look at the dashboard xD

**Expected behavior**
Dashboard shortcuts reflect the actual ones

**Screenshots**
![19-08-21--21:34:04](https://user-images.githubusercontent.com/1951631/130161186-8c500401-2f9

[2021-08-20 01:15] G-Rowell commented on #296
@skrapi

Would you be able to try [another terminal multiplexer such as screen](https://linuxize.com/post/how-to-use-linux-screen/)

This would help to try narrow it down, this is certainly strange :thinking:

[2021-08-20 01:18] G-Rowell commented on #301
Yeah, understandably wanting to avoid it for a NeoVim config,

but as Sage said, it's a requirement for several language servers I believe.

You do raise a good point,
let's leave this open until we add some kind of note about this to our docs

G

[2021-08-20 01:25] G-Rowell commented on #303
Yup!

Can confirm this,
I'll update it now

[2021-08-20 01:33] ashincoder commented on #296
Or @skrapi u could use kitty which has builtin terminal multiplexer. `CTRL + SHIFT + t` opens a new tab in kitty

[2021-08-20 01:41] G-Rowell commented on #296
Yeah, that's a good point

Seems like Skrapi needs to use a remote connection multiplexer, hopefully Kitty has this feature

[2021-08-20 01:57] G-Rowell commented on #302
I think given that it doesn't properly have treesitter support & it requires a system dependency of `python3-venv` (instead of a NeoVim dependency),
we would be unlikely to move to this, as we'll be trying to heavily limit any such system requirements

[Install
Needs python virtual env](https://github.com/ms-jpq/coq_nvim#install)
`apt install --yes -- python3-venv`

Though I do acknowledge this de

[2021-08-20 01:59] G-Rowell commented on #286
Thank you very much for following up with what caused your issue!

Much appreciated :)

[2021-08-20 02:02] G-Rowell commented on #297
Hi there,

I think there is an issue or two with the builtin LSP Rust engine,
we've just made a big release so we'll have a look sometime

That being said,
NvChad's goal is to provide a solid foundation for each user to then add & manage their own language customisations on top of it.
(Eg. `:TSInstall` `:LSPInstall`)

[2021-08-20 02:12] G-Rowell commented on #303
@Eduruiz

Fixed with this PR,
will close when it's merged

https://github.com/NvChad/NvChad/pull/304

Thanks for letting us know!! :smile:

[2021-08-20 03:59] #303 closed

[2021-08-20 04:11] siduck76 commented on #301
has been added.

[2021-08-20 04:11] #301 closed

[2021-08-20 04:14] siduck76 commented on #296
check this issue

https://github.com/NvChad/NvChad/issues/2

[2021-08-20 04:55] vlermandac opened #305 "Kite completion support"
For some reason when Kite shows completion suggestions the cursor automatically goes to the end of the line, which makes it useless.

[2021-08-20 04:55] siduck76 commented on #305
could you provide a video of your behaviour?

[2021-08-20 05:05] siduck76 commented on #256
@ashincoder @laraib07 try disabling matcup again and check . It works for me now weirdddd :D

[2021-08-20 05:06] vlermandac commented on #305
Sure

https://user-images.githubusercontent.com/68314874/130182123-d2260f0d-0f55-417a-a6e3-e91edbf0dc30.mp4

[2021-08-20 05:07] siduck76 commented on #276
@G-Rowell https://github.com/sudormrfbin/cheatsheet.nvim/issues/8#issuecomment-902432744

[2021-08-20 05:19] laraib07 commented on #256
Can confirm, No issues now.

[2021-08-20 05:25] G-Rowell commented on #256
Thanks for confirming,
closing

Feel free to @ us or start a new issue

Ty :smile:

[2021-08-20 05:25] #256 closed

[2021-08-20 06:18] hamxabaig opened #307 "Cheatsheet doesn't open; Err: plenary.nvim not installed"
**Describe the bug**
Cheatsheet command is not working, it throws an error:
[code]

I followed the steps from installation page and everything else seems to be working fine. PackerSync/Install also works without issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Open nvim
2. Type :Cheatsheet
3. See error

**Expected behavior**
It should open cheatsheet

**Screenshots**
<img width="1440"

[2021-08-20 06:20] G-Rowell commented on #307
Hi @hamxabaig,

Can you try run `:PackerSync`
then restart NeoVim,
then run `:Cheatsheet`

for me to check?

Thanks

[2021-08-20 06:24] Akianonymus commented on #307
Can confirm the issue

[2021-08-20 06:25] siduck76 commented on #307
this was with the old config , try cheatsheet on new config . works for me

[2021-08-20 06:27] hamxabaig commented on #307
Thanks for prompt reply @G-Rowell, I just ran PackerSync and restarted nvim, still the same.

[2021-08-20 06:31] siduck76 commented on #307
update your nvchad config!

[2021-08-20 06:42] hamxabaig commented on #307
@siduck76 how can i do that?

[2021-08-20 06:43] Akianonymus commented on #307
Same happened here

just remove ~/.config/nvim/plugin folder then PackerCompile

restart neovim and it should work

[2021-08-20 06:46] hamxabaig commented on #307
@Akianonymus @siduck76

Updated the config, restarted still the same issue.

Removed plugins folder, recompiled and restarted. Doesn't work

[2021-08-20 06:47] siduck76 commented on #307
show me your cheatsheet.nvim section in pluginlist.lua

[2021-08-20 06:50] hamxabaig commented on #307
@siduck76 this one?

![Uploading Screen Shot 2021-08-20 at 11.49.53 AM.png…]()

[2021-08-20 06:57] siduck76 commented on #307
looks fine :l

[2021-08-20 07:01] hamxabaig commented on #307
@siduck76 Do you think its something related to `plenary.nvim` not being installed or smth? How can i check if its installed or not?

[code]

[2021-08-20 07:06] G-Rowell commented on #307
Can you double check that this line is set to true **locally**
https://github.com/NvChad/NvChad/blob/main/lua/chadrc.lua#L76

Then run `:PackerStatus`
and check if `plenary.nvim` is listed, it should ideally **not** have `(not loaded)` beside it

Hmmmm,
I'm sure we can sort this out, sorry for all the mess :thinking:

[2021-08-20 07:10] hamxabaig commented on #307
@G-Rowell no worries, thank you for your efforts on this.

I think that plugin is not installed, I just skimmed through the list and there is none with that name.

<img width="1097" alt="image" src="https://user-images.githubusercontent.com/12872177/130194288-3be5bc84-ea39-428e-8ee3-1b81fc5f7eb7.png">

Also cheatsheet is set to true.

[2021-08-20 07:12] G-Rowell commented on #307
Hahah, I was just bout to say it's right there, and loaded!

Hmmmmmm, this is very very strange......

Sorry to be super pedantic, can you check `:PackerStatus` to **ensure plenary.nvim is loaded` then run  `:Cheatsheet`?

[2021-08-20 07:14] hamxabaig commented on #307
🤔 Weird, its loaded i think.

<img width="1149" alt="Screen Shot 2021-08-20 at 12 14 28 PM" src="https://user-images.githubusercontent.com/12872177/130194956-1eb5164b-7ed0-4902-9c7b-11e148fd4777.png">

[2021-08-20 07:16] G-Rowell commented on #307
Huh, super duper strange

I'm happy to debug this more at some point, I do have a commitment I have to go to rn though

[2021-08-20 07:17] siduck76 commented on #307
@hamxabaig you sure that you have updated the config?

[2021-08-20 07:22] hamxabaig commented on #307
@siduck76 yeah i ran Space + uu and it did fetch from git repo. Happy to do it again. Let me try.

@G-Rowell No worries, not a big issue rn. I mainly use VSCode + Vim. Best of both worlds. But this looked exciting so thought to myself to try it out.

[2021-08-20 07:28] siduck76 commented on #307
@hamxabaig back up your nvchad config and do this

[code]

[2021-08-20 07:48] ashincoder commented on #256
It works :D

[2021-08-20 07:49] hamxabaig commented on #307
@siduck76 tried that but still same error. 😞

[2021-08-20 08:23] insidersbuilt opened #308 "Telescope error"
when ever i open the nvim it shows me this error and :Telescope does not opens
![image](https://user-images.githubusercontent.com/87114084/130203735-a0b8e389-1ef1-486e-b3d4-8aeab9d69bd3.png)

[2021-08-20 08:25] ashincoder commented on #276
@G-Rowell can u rename this issue to Adding whichkey.

[2021-08-20 08:25] ashincoder commented on #276
And also @siduck76 could u specify which color do u wanna use for the which key background. Just specifiy the hexcode

[2021-08-20 08:27] siduck76 commented on #276
use darker_black

colors.darker_black , so it will work on all themes.

[2021-08-20 08:28] siduck76 commented on #276
@ashincoder keep this on hold for 2+ weeks , we wont be adding any new feaures till then . we need to clean the config , debloat stuff , refactor and make config more and more faster xD

[2021-08-20 08:30] siduck76 commented on #276
we gotta get the issues count to 0 too , also my exams are there in next month :c .

[2021-08-20 08:30] siduck76 commented on #276
anyways https://github.com/sudormrfbin/cheatsheet.nvim/commits?author=sudormrfbin @G-Rowell

[2021-08-20 08:30] #276 closed

[2021-08-20 08:31] siduck76 commented on #308
when was the last time you updated nvchad? I released v1.0 yesterday night and the updater has been added + it will work for v1.0  + and master , can you reinstal nvchad again?

[2021-08-20 08:31] siduck76 commented on #308
https://nvchad.netlify.app/docs/getting%20started/setup/

[2021-08-20 08:32] siduck76 commented on #297
I'll test this behaviour with default neovim config this sunday!. @JojiiOfficial  wait a bit if you can. Got final exams next month :rofl:

[2021-08-20 08:34] siduck76 commented on #307
https://user-images.githubusercontent.com/59060246/130205306-733662b3-8a2d-4e16-ba5c-ac35b3789d79.mp4

[2021-08-20 08:45] ashincoder commented on #276
Okee.

[2021-08-20 08:46] ashincoder commented on #308
Just reinstall NvChad...

[2021-08-20 08:48] ashincoder commented on #307
@hamxabaig try removing everything.
Then follow the instructions of https://nvchad.netlify.app/
Then mention here what happens

[2021-08-20 08:58] pathakraul commented on #289
Inside this path `$HOME/.local/share/nvim/site/pack/packer/opt/nvim-base16.lua/lua/themes`
This is on ubuntu

[2021-08-20 08:59] siduck76 commented on #289
I dont think this should be done!!

any nvim-base16 updates would remove that

[2021-08-20 09:00] pathakraul commented on #289
Without that it was not working, though I agree that its not a solution

[2021-08-20 09:02] siduck76 commented on #289
yes , @slfg could you show how your theme works?

[2021-08-20 09:03] siduck76 commented on #289
@slfg for the time being you can add what @pathakraul said.

[2021-08-20 09:21] schiptsov opened #309 "You absolutely do not remap 'X'"
'X' is the standard binding for deleting a char before the cursor, which goes back to ancient times and is nice and "logical" one.

Imagine closing the damn buffer when one tries to delete a character.

This is beyond frustration. This is a pure rage.

[2021-08-20 09:26] pathakraul commented on #308
I have installed the latest 1.0 and getting the same issue
![image](https://user-images.githubusercontent.com/23165276/130212241-dd782205-05de-4cbd-befc-fd21a23d35a0.png)

[2021-08-20 09:28] mTvare6 commented on #309
Yes, older versions of this had so many vanilla vim keybinds bound to something bad too

[2021-08-20 09:29] siduck76 commented on #309
agreed , I'll try removing S-x

[2021-08-20 09:30] siduck76 commented on #308
can you try the master? https://nvchad.netlify.app/docs/getting%20started/setup/

if it works then I'll update the release

[2021-08-20 09:32] pathakraul commented on #308
I did exactly this only to install
[code]

[2021-08-20 09:33] siduck76 commented on #308
show  nvim -v output

[2021-08-20 09:33] G-Rowell commented on #309
@schiptsov I think we could probably use some kinder language,

I understand your frustration, however the mappings are deliberately easy to change.
Furthermore, every single NvChad contributor has put their own free time into this.

I think there is a more reasonable way to voice this issue.

I do however, agree, I didn't really use that mapping much at all and felt this made sense, it was also a

[2021-08-20 09:33] pathakraul commented on #308
[code]

[2021-08-20 09:34] siduck76 commented on #308
could you use 0.5 stable?

[2021-08-20 09:36] Akianonymus commented on #308
After installation, do this

`nvim -Vlog`

it will create a log file, upload the file and send link here.

[2021-08-20 09:44] G-Rowell commented on #309
Having missed the title and just read it,

Dmitrii, I wish to be explicit,
anyone and everyone is welcome in NvChad.
This of course extends to you as much as any other member in the community.

All of the team do however require that respectful discussion takes place.
A more constructive issue title could be `default close mapping conflicts with core Vim bind`.
Please avoid such titles like this i

[2021-08-20 09:45] siduck76 commented on #309
or "Avoid using vanilla vim bind"

[2021-08-20 09:53] pathakraul commented on #308
Same issue with nvim 0.5 also.
[log.txt](https://github.com/NvChad/NvChad/files/7020684/log.txt)

[2021-08-20 09:53] G-Rowell opened #310 "Release v2.0 (GigaChad)"
Dear all,

with the release of v1.0 we've made many things we're proud of, and many things that should be cleaned.
(some of the code I made definitely needs to be improved :rofl: )

Please comment below if you know of something that we need to do!

This is a running list of items that should be revisited & cleaned.

G

---
# September clean

## bugs

- [X] can't do multiple mappings to the same th

[2021-08-20 10:25] Akianonymus commented on #309
Changed in the pr: https://github.com/NvChad/NvChad/pull/311

[2021-08-20 10:48] ashincoder commented on #308
Try to do the following:
[code]

then:
[code]

[2021-08-20 10:50] Akianonymus commented on #308
@pathakraul I saw the logs, that is surely weird, even the log is totally useless

[2021-08-20 10:53] G-Rowell commented on #308
I took a look at the logs as well, and agree that they were missing something.

Totally strange here :thinking:

My next idea would be a missing system package that `Packer` depends on to build maybe?
But that's surely far-fetched?

[2021-08-20 10:56] ashincoder commented on #308
Is this ur config ? :confused: @insidersbuilt

[2021-08-20 10:58] ashincoder commented on #308
@Akianonymus and @G-Rowell don't u think this is a little sus ?

[2021-08-20 10:59] siduck76 commented on #308
update your config to v1.0!

[2021-08-20 11:02] #309 closed

[2021-08-20 11:07] pathakraul commented on #308
I have already tried this multiple times. Does not change anything.

[2021-08-20 11:08] ashincoder commented on #308
Are u using ur custom config

[2021-08-20 11:10] pathakraul commented on #308
Does .vimrc in the home folder affects this?
I don't have any changes in .config/nvim though

[2021-08-20 11:10] ashincoder commented on #308
I don't mean it this way . What I am asking is are u using custom neovim config .. not vim config.

[2021-08-20 11:11] G-Rowell commented on #308
Your `.vimrc` shouldn't change it in any way, as there is an `init.lua` file present

hmmm

[2021-08-20 11:11] pathakraul commented on #308
Ok, no there are no custom changes any where.

[2021-08-20 11:12] ashincoder commented on #308
Mhhh .. This seems weird. It used to work with no problem.

[2021-08-20 11:16] pathakraul commented on #308
Can you tell me the lua version you have tested . I have currently lua 5.3 installed

[2021-08-20 11:17] G-Rowell commented on #308
Lua is bundled with NeoVim, Lua 5.1

But it's bundled so shouldn't make a difference?

[2021-08-20 11:17] siduck76 commented on #308
no , maybe try moving into a different dir and check . Who knows it may work :laughing:

[2021-08-20 11:18] G-Rowell commented on #308
I'm working on a minimal working config for you @pathakraul

That probably the best debugging step rn I think

[2021-08-20 11:18] ashincoder commented on #308
@siduck76 please merge #312. This solves an error regarding statusline.

[2021-08-20 11:19] pathakraul commented on #308
Sure, thanks.

Will also check by removing vimrc

[2021-08-20 11:19] ashincoder commented on #308
![2021-08-20-164936_1366x748_scrot](https://user-images.githubusercontent.com/83629316/130225811-34e971da-588e-48f0-804a-4848ec3dd1ca.png)

[2021-08-20 11:20] siduck76 commented on #308
@ashincoder merged already.

[2021-08-20 11:20] ashincoder commented on #308
This was the error when I installed NvChad. I installed by removing all the .local/nvim .config/nvim

[2021-08-20 11:20] ashincoder commented on #308
@pathakraul can u test now.

[2021-08-20 11:21] pathakraul commented on #308
How come I never got this error. Will check

[2021-08-20 11:22] ashincoder commented on #308
u may not have removed .local/share/nvim.

[2021-08-20 11:24] pathakraul commented on #308
removed the vimrc and repeated the installation steps also (also removed everything first). Same issue

[2021-08-20 11:24] Akianonymus commented on #308
Obviously that was not the problem

[2021-08-20 11:25] Akianonymus commented on #308
Try disabling packer.

[2021-08-20 11:25] pathakraul commented on #308
How?

[2021-08-20 11:26] ashincoder commented on #308
But I have resolved an unknown problem @Akianonymus :laughing: .
Disable packer in chadrc.lua

[2021-08-20 11:26] Akianonymus commented on #308
Yes, due to my recent config pr.

[2021-08-20 11:28] ashincoder commented on #308
@pathakraul can u take a screenshot of ur error message

[2021-08-20 11:29] pathakraul commented on #308
It was attached above
![image](https://user-images.githubusercontent.com/23165276/130226734-fdac25b3-f60f-48b8-a210-2b2eb3d9a93b.png)

[2021-08-20 11:29] ashincoder commented on #308
can u take full screenshot I mean

[2021-08-20 11:33] pathakraul commented on #308
![image](https://user-images.githubusercontent.com/23165276/130227140-b242fac6-6dfa-447a-9cc2-31386573b9c5.png)

[2021-08-20 11:34] ashincoder commented on #308
OMG :scream: that is a weird error. Can u update ur lua version. I am using lua 5.4.3

[2021-08-20 11:35] G-Rowell commented on #308
Testing

![image](https://user-images.githubusercontent.com/3367398/130227335-878b819d-2fa0-4649-bfdd-9c14070b08be.png)

[2021-08-20 11:35] ashincoder commented on #308
How do this happen @G-Rowell

[2021-08-20 11:35] TomWright commented on #307
I fixed this issue with:

1. Update Chad: `<leader> + uu`
2. Delete `~/.config/nvim/plugin`
3. `nvim +PackerSync`
4. `:PackerCompile`

I'm not sure which of these steps are strictly necessary but it works now.

[2021-08-20 11:35] Akianonymus commented on #308
The system lua doesn't matter, in any way

[2021-08-20 11:36] pathakraul commented on #308
I thought lua is bundled with neovim. My ubuntu 20.04 does not have 5.4 in package list. I will  take a while to try that manually.

[2021-08-20 11:36] ashincoder commented on #308
@G-Rowell how did u reproduce this.

[2021-08-20 11:36] G-Rowell commented on #308
Packer is not configured & set up properly, hence the issue I got.

Let me keep working and I'll come back

[2021-08-20 11:37] G-Rowell commented on #308
Don't bother fiddling with your system lua yet my friend! :)

[2021-08-20 11:37] pathakraul commented on #308
Overall guys, NvChad is awesome.

[2021-08-20 11:38] G-Rowell commented on #308
Hopefully we can get you sorted!
Thanks so much for holding in here with us while we all figure it out :smile:

[2021-08-20 11:41] G-Rowell commented on #308
More debugging,

I have a working Packer (including work `:PackerSync`)
but still

![image](https://user-images.githubusercontent.com/3367398/130227949-cedf5772-4d1d-4199-8de1-6c3858d3f78a.png)

[2021-08-20 11:41] ashincoder commented on #308
Can u show the packer code used

[2021-08-20 11:43] G-Rowell commented on #308
# init.lua
[code]
# lua/plugins.lua
[code]

# packerInit.lua
*same as repo std*

[2021-08-20 11:43] G-Rowell commented on #308
This must be a dependency issue within `plugins.lua`

[2021-08-20 11:45] ashincoder commented on #308
But my real question is how can @pathakraul reproduce a problem which we can't. It is really susy

[2021-08-20 11:45] G-Rowell commented on #308
I'm sort of reproducing it aren't I?

[2021-08-20 11:45] siduck76 commented on #308
is this a packer issue?

[2021-08-20 11:46] ashincoder commented on #308
This is a pretty good first issue

[2021-08-20 11:46] G-Rowell commented on #308
HAHHAHHAH GOOD FIRST ISSUE
:rofl:

[2021-08-20 11:46] ashincoder commented on #308
No my questiion is why isn't this error in NvChad.

[2021-08-20 11:47] G-Rowell commented on #308
@pathakraul

https://github.com/NvChad/NvChad/issues/308#issuecomment-902633711

Could you try only having this as your nvim config?
Make sure nothing else at all is there,
so backup with `mv ~/.config/nvim ~/.config/Nvim`

[2021-08-20 11:47] G-Rowell commented on #308
What do you mean?
As in `why are we trying to solve it here?`
Or `why don't other people get this issue?`

I'm not sure I understand

[2021-08-20 11:48] ashincoder commented on #308
why don't other people get this issue?

why don't others get it.

[2021-08-20 11:49] G-Rowell commented on #308
Ahhhhhhhhh,
good question

I just got it, but have yet to find what exactly causes it

[2021-08-20 11:49] ashincoder commented on #308
@pathakraul can u do :checkhealth

[2021-08-20 11:50] G-Rowell commented on #308
Maybe related?

Telescope issue https://github.com/nvim-telescope/telescope.nvim/issues/1125

[2021-08-20 11:50] G-Rowell commented on #308
They had some breaking bug apparently today?

[2021-08-20 11:53] ashincoder commented on #308
But it is solved right

[2021-08-20 11:54] pathakraul commented on #308
I tried two things -
1. Only init.lua with `require("plugins")`
Output -
[code]

2. Created lua/plugins.lua with content as per the https://github.com/NvChad/NvChad/issues/308#issuecomment-902633711
Output -
No error

[2021-08-20 11:57] G-Rowell commented on #308
No sorry XD

I need you to `mv ~/.config/nvim ~/.config/Nvim`

This will `backup & wipe your NeoVim config`

Then `mkdir -p ~/.config/nvim/lua`

Then `touch ~/.config/nvim/init.lua`
`touch ~/.config/nvim/lua/packerInit.lua`
`touch ~/.config/nvim/lua/plugins.lua`

The copy all of the files from my comment here https://github.com/NvChad/NvChad/issues/308#issuecomment-902633711

[2021-08-20 11:58] G-Rowell commented on #308
We want your config to be only these files I'm giving you,

you have linked what I would like as `init.lua` & `plugins.lua`

And set `packerInit.lua` as this https://raw.githubusercontent.com/NvChad/NvChad/main/lua/packerInit.lua

[2021-08-20 11:59] G-Rowell commented on #308
The enter & restart NeoVim

Enter & hopefully `:PackerSync` is a command,
run it

restart neovim

Run `:Telecope`

## this should make the error appear, that's good because it means it's predicitable

[2021-08-20 12:00] G-Rowell commented on #308
Then I will continue debugging & try decipher what it is,

I know this isn't a solution yet.
But a minimal working example that generates the error is vital to debugging

[2021-08-20 12:01] G-Rowell commented on #308
Again @pathakraul,

really appreciate your help & patience with this, we'll get to the bottom of this!

If I'm being confusing, I'm also happy to `.zip` my files to send to you for easier testing

Thanks again, so sorry for all this hassle!

[2021-08-20 12:05] pathakraul commented on #308
Not an issue.

- These are the initial files and the content is same which you asked.
[code]
- Restart nvim and PackerSync shows that everything is up to date
- Restart nvim again and Telescope shows same error

[2021-08-20 12:06] G-Rowell commented on #308
Okay, great!

We're both having the exact same (original) and repeatable issue

[2021-08-20 12:07] G-Rowell commented on #308
I gtg for a bit, it's quite late in Australia rn and have to attend to a few things urgently

I will debug this later some more later tonight and will be back as soon as I can!

[2021-08-20 12:07] schiptsov commented on #309
The pr has been intentionally made emotional, but there was no wish to make it rude or disrespectful. It is just a matter of style.

Now about respectful discussion. The idea of just to make a neovim look like vscode is a bit shallow, so to speak. The better approach, it seems, to make neovim better than vscode, to keep everything that is vimish and add something that is nice, but do not contradic

[2021-08-20 12:07] G-Rowell commented on #308
Don't worry about doing much more yourself until I get back to you

[2021-08-20 12:08] pathakraul commented on #308
Enjoy @G-Rowell . thanks

[2021-08-20 12:28] insidersbuilt commented on #308
yes

[2021-08-20 12:50] siduck76 commented on #309
@schiptsov its not just about aesthetics , I just wasnt aware that S-x was a default vim bind. Also making neovim look like vscode, We arent trying to do that :p . I could just simply use a gui ide but I would miss vim , hence made nvim's UI look better with a functional file tree + nerdfont icons , I see no bad in it.

[2021-08-20 14:04] G-Rowell commented on #308
@pathakraul

Looks like it's upstream?

[2021-08-20 15:11] G-Rowell commented on #309
Despite what @schiptsov implies,
I do wish to make it clear to anyone reading:

## **Anyone who comes to NvChad is welcome, regardless of capability or experience. They merely need to bring with them friendliness & effort**

[2021-08-20 15:44] insidersbuilt commented on #308
The bug is in the telescope plugin because i didn't update the nvchad from about 4  days

[2021-08-20 15:56] ashincoder commented on #308
I think it is safe to close this error since it is a telescope error.

[2021-08-20 16:34] siduck76 commented on #308
lets wait for a day or two.

[2021-08-20 17:18] naser7717 commented on #310
V

[2021-08-20 19:15] Eduruiz commented on #307
gotta follow the same steps of @TomWright to get it working, but it's working now.

[2021-08-20 21:05] insidersbuilt commented on #308
yes

[2021-08-21 01:20] GiantGlint opened #313 "Evergreen doesn't seem to work."
Everytime I try to switch to everforest (with space+t+h or setting it in lua/chadrc.lua) I get a lot of errors and the theme does not switch.

**To Reproduce**
Steps to reproduce the behavior:
1. Open neovim.
2a. Press `space + t + h` and select everforest.
2b. Open the lua/chadrc.lua file and change the current theme to `everforest`.
3:. See error

**Expected behavior**
It probably should apply e

[2021-08-21 01:27] ashincoder commented on #310
Guys watch TJ's videos on async and vim.schedule. He is one of the core developers in neovim
https://www.youtube.com/watch?v=GMS0JvS7W1Y
https://www.youtube.com/watch?v=GToxQKi7LZg

[2021-08-21 01:43] G-Rowell commented on #310
Oh damn, yeah Tjs pretty cool :grin:

[2021-08-21 02:33] ashincoder commented on #310
Guys should we use a keymap for NvimTree with prefix.

[2021-08-21 03:16] G-Rowell commented on #310
I'm not quite sure what you mean by that,
but the fact that you are proposing it means it something we should at least investigate and take another looks at :)

[2021-08-21 03:25] ashincoder commented on #310
I mean that NvimTree uses CTRL-n right. Why don't we use something with prefix <leader> like eg; <leader>e

[2021-08-21 03:55] G-Rowell commented on #313
Hi @GiantGlint,

I've just tested and this may have been fixed.

Would you update, then verify whether this is fixed or not?

Thanks!
G

[2021-08-21 04:09] G-Rowell commented on #313
Most likely the issue will be solved with `:PackerSync` to update plugins

[2021-08-21 04:11] siduck76 commented on #313
also its everforest , not evergreen lol

[2021-08-21 04:25] jasmcaus opened #315 "Cannot enable NvChad options"
**Describe the bug**
Just installed NvChad configs yesterday, and been trying to poke around with the settings. Out of the box, everything was super. I realized you also had further options for dashboard, treesitter, etc, so as mentioned in the `lua/chadrc.lua` file, in the *plugin_status* area, I've set all the "true" values to "false" so as to enable all of the options. However, when I try to `:

[2021-08-21 04:29] G-Rowell commented on #315
Hi, looking into this now

[2021-08-21 04:33] chakrihacker opened #316 "Unable to open different folder via nvim command"
**Describe the bug**

`nvim /path/to/directory`
 should open the specified path. which is is not happening with nvchad

**To Reproduce**
Expalined above

**Expected behavior**
Should open specified path instead of current working directory

**Desktop (please complete the following information):**
 - Operating System (MacOs)
 - Terminal (iTerm 2)
 - Version of Neovim(0.5)

[2021-08-21 04:33] G-Rowell commented on #315
Hey there @jasmcaus,

so

In the lines above there is a comment:
[code]

I think you have a misconception regarding how to enable & disable plugins.
`false` will disable a plugin in NvChad,

`true` will enable them.

As to the error, make sure you run `:PackerSync`,
the likely issue is that you are removing/disabling plugins that are required for other plugins to work.

Eg. `A needs B`, **disable

[2021-08-21 04:34] G-Rowell commented on #315
Can you try to change the values back?
I think clearing this up will probably solve your problem?

Let me know what happens, :smile:

G

[2021-08-21 04:36] G-Rowell commented on #316
Yup!

That's totally an issue we have right now,
I've been meaning to fix this, but myself and several of the core team have uni exams on in the next few days.

I'm adding this to our tracking list issue.

Apologies for that!

(it's likely caused by disabling the in-built `netrw`, I just use `<CNTL> + n` in the meantime for NvimTree

[2021-08-21 04:42] siduck76 commented on #316
@chakrihacker remove this from the pluginList.lua file  and do :PackerSync

![image](https://user-images.githubusercontent.com/59060246/130310695-4d07ab85-c545-46e4-b7ab-4ccf50871e1a.png)

[2021-08-21 04:42] siduck76 commented on #316
nvimtree is lazy loaded by default so this happens.

[2021-08-21 04:45] G-Rowell commented on #316
Note that this will be overwritten if you update,
we're working on that too!

[2021-08-21 04:54] chakrihacker commented on #310
Provide a better way to add new plugins, The problem with the current approach is whenever you update chad, the plugins added by the user will be gone.

Add some file to `.gitignore` something like user_plugins.lua and load them in packerInit or pluginList at the end of the file

[2021-08-21 05:00] siduck76 commented on #310
Agreed

[2021-08-21 05:01] Akianonymus commented on #310
Soon @chakrihacker

[2021-08-21 06:16] GiantGlint commented on #313
It works, thanks for your help. I ran `:PackerSync` and all was good! Thankyou.

[2021-08-21 06:17] #313 closed

[2021-08-21 06:22] siduck76 commented on #297
@JojiiOfficial backup your nvchad config and replace this with your init.lua https://paste.sh/mmQkr4DK#npqY-vn7n4fyeQob6zkt0aC1 , its a bare bones lspconfig . vec[] completes and doesnt give any weird errors like in this issue. So I suppose this is a nvchad issue after all.

[2021-08-21 06:27] jasmcaus commented on #315
@G-Rowell, thanks for the update!
That was confusing because I had this in my recent fork of NvChad:
[code]
as opposed to `false for disable`.

This is fixed now. Thank you!

[2021-08-21 06:27] #315 closed

[2021-08-21 08:16] bjesus commented on #307
Can't get it to work... tried the steps @TomWright detailed, and also tried completely removing everything:
[code]

and I'm still getting exactly the same behavior - PackerStatus shows plenary loaded, but opening the cheatsheet wouldn't work and complain that `plenary.nvim not installed`

[2021-08-21 08:20] siduck76 commented on #307
what does nvim -v show?

[2021-08-21 08:21] bjesus commented on #307
[code]

[2021-08-21 08:21] HoolaBoola opened #319 "Idea: Opening a file buffer cd's nvim to its location"
By default, opening NvimTree while editing a file deep in your filesystem often opens the view from the home folder (`~`)

Adding the following line to, for example, `options.lua` causes the current nvim window to `cd` into the folder the file is located in

`vim.cmd [[ autocmd BufEnter * if &buftype != "terminal" | lcd %:p:h | endif ]]`

The vim command consists of:
- `autocmd` to launch the comm

[2021-08-21 08:23] siduck76 commented on #307
this is weird , you sure you're using latest nvchad config (master)? @bjesus

[2021-08-21 08:26] bjesus commented on #307
100% sure. `rm -rf ~/.config/nvim ~/.config/.vim ~/.config/.nvim` and git cloned for the 10th time now 🤔

[2021-08-21 08:28] siduck76 commented on #316
@chakrihacker it must be fixed now.

[2021-08-21 08:29] siduck76 commented on #319
Thanks for this @HoolaBoola

[2021-08-21 08:29] #319 closed

[2021-08-21 08:30] siduck76 commented on #307
did u try rm -rf .local/share/nvim ?

[2021-08-21 08:33] bjesus commented on #307
Yes. Just did it again, ran `PackerSync` and `PackerCompile`, and all is just the same.

[2021-08-21 08:34] siduck76 commented on #305
@vlermandac I dont think we have kite added by default , how did you added it?

[2021-08-21 08:34] siduck76 commented on #307
its weird that I cant reproduce the error :c

https://github.com/NvChad/NvChad/issues/307#issuecomment-902531371

[2021-08-21 08:35] #289 closed

[2021-08-21 08:45] siduck76 commented on #302
@zbirenbaum NvChad comes with nvim-compe by default , We couldve chosen completion-nvim ,nvim-cmp ,coc as well but compe has good support for luasnip which is needed. I guess its upto the user to use whatever completion engine gets used. We'll think about coq.nvim when we get issues with compe or maybe in the future.

[2021-08-21 08:45] #302 closed

[2021-08-21 08:46] siduck76 commented on #296
looks like duplicate of https://github.com/NvChad/NvChad/issues/2

[2021-08-21 08:46] #296 closed

[2021-08-21 08:47] chakrihacker commented on #316
Awesome 😎

[2021-08-21 08:56] cocoonkid commented on #307
I have the same Error and tried all suggested steps but no dice.

[2021-08-21 09:28] siduck76 commented on #307
This issue should persist with older nvchad configs , basically we loaded plenary at bufread event before which was causing this . But with the newest config this must be resolved , check if plenary isn't loaded at bufread and telescope loaded after plenary , then cheatsheet loading after telescope  😆

[2021-08-21 10:04] bjesus commented on #307
I'm not sure how new this fix is, but I've only tried installing NvChad for the first time ~12 hours ago. I doubt I ever even had the older NvChad configs...

[2021-08-21 10:12] cocoonkid commented on #307
Yes , can confirm. First install here too.

[2021-08-21 10:31] siduck76 commented on #307
weird :( . I'll look onto it tonight.

[2021-08-21 10:32] siduck76 commented on #307
Damn , I get this issue too now :

![image](https://user-images.githubusercontent.com/59060246/130319047-1dbbdfd9-f230-4081-866d-6b38efaab592.png)

[2021-08-21 10:34] siduck76 commented on #307
ok fixed it.

[2021-08-21 10:35] siduck76 commented on #307
@bjesus @cocoonkid check it now! @hamxabaig you too :D

[2021-08-21 10:36] siduck76 commented on #308
@insidersbuilt can you update your  nvchad config and check it again?

[2021-08-21 10:38] bjesus commented on #307
It works!!! thank you so much. Excited to be finally able to start playing with NvChad 🥳

[2021-08-21 10:39] siduck76 commented on #307
really sorry I forgot to remove the vimenter event before! Glad it works :D

[2021-08-21 10:39] #307 closed

[2021-08-21 11:40] hamxabaig commented on #307
Works like a charm @siduck76 thanks 🙌

[2021-08-21 11:58] siduck76 commented on #308
Agreed.

[2021-08-21 11:58] #308 closed

[2021-08-21 15:43] bjesus commented on #26
Sorry to bring this back to life, but is there anything else that's needed? I'm on Linux, I have `rg`  and `ueberzug` installed, but still see no image preview. Tried both with Alacritty and Kitty. Do I need anything else?

[2021-08-21 15:48] diogox opened #320 "Dotfile request"
Not related to the project, but I can't resist asking for this [bar's](https://raw.githubusercontent.com/siduck76/dotfiles/master/rice%20flex/dashboard-nvim.png) dotfiles, if possible :pray:

[2021-08-21 15:56] Mangeshrex commented on #320
just the bar? you can get here = github.com/siduck76/dotfiles

[2021-08-21 15:59] diogox commented on #320
Thank you, I appreciate it! :raised_hands:

[2021-08-21 15:59] #320 closed

[2021-08-21 16:05] siduck76 commented on #26
I dont think so , could you show me what does telescope preview with image files?

[2021-08-21 18:09] Simre1 opened #322 "Yellow color from the one-light theme is not readable"
When using the one-light theme, text colored in yellow is unreadable.

![one_light](https://user-images.githubusercontent.com/9306729/130331153-7c484bb2-abc1-4b04-abb8-6acefb75cdc4.png)

I am using the current version of NvChad along with nvim nightly 0.6.

[2021-08-21 18:15] siduck76 commented on #322
@Simre1 https://github.com/NvChad/nvim-base16.lua/commit/de110d2ca629fe71a6bd3d454d4ab68511f0a038 , Do :PackerSync

[2021-08-21 19:00] Um1aut opened #323 ""Some plugin change completeopt on insert mode: Last set from anonymous :source!" error while typing in insert mode"
![image](https://user-images.githubusercontent.com/80593546/130332260-a07a0e87-024d-4dab-952e-432de3933430.png)
Just while using clear nvchad

[2021-08-21 19:06] siduck76 commented on #323
Check options.lua and remove the line with completeopt

[2021-08-21 19:13] Um1aut commented on #323
![image](https://user-images.githubusercontent.com/80593546/130332563-6e513078-3c5a-490f-86f9-03c747df77db.png)
The same. Btw appears after typing something after ;

[2021-08-21 19:14] siduck76 commented on #323
I wouldn't suggest using coc in nvchad unless you know what you're doing.

[2021-08-21 19:15] Um1aut commented on #323
yeah, so how to disable coc?

[2021-08-21 19:25] siduck76 commented on #323
We don't have that in our config  , use latest NvChad config lul

[2021-08-21 19:30] Um1aut commented on #323
btw I am using it

[2021-08-21 19:32] siduck76 commented on #323
Oh , but we don't have Coc.nvim , so remove it the way you installed.

[2021-08-21 19:35] Um1aut commented on #323
lmao, I didn't install something

[2021-08-21 19:35] Um1aut commented on #323
I just used clear nvchad

[2021-08-21 19:38] Um1aut commented on #323
I think the best way is just to turn off the errors lmao

[2021-08-21 20:10] MMNN321 opened #324 "Input lagging and displacing when nvim-compe is active"
**Describe the bug**
Input is lagging and displacing when nvim-compe's completion menu is active and switching from input to normal mode back to input mode

**To Reproduce**
Steps to reproduce the behavior:
1. Install NvChad and a language server (i tested it with typescript and rust; The slower the language server, the bigger the effect)
2. Open a file that starts the language server
3. Type some

[2021-08-21 20:49] Reptarsrage opened #325 "Packer compile happening on every startup"
**Describe the bug**
Every time Neovim is opened, packer runs some code and prompts for the user to restart neovim.

**To Reproduce**
Steps to reproduce the behavior:
1. This happens every time the program is launched

**Expected behavior**
I would expect that this only occurs automatically once, when the program is first launched. Having to interact with this pop-up each time the program is launc

[2021-08-21 23:51] meaz opened #327 "Folder glyphs"
I've downloaded a nerd font as requested, but the folder icon is messed up for some reasons. I've tried to get some other font, but it is still the same. Any idea?

![vim](https://user-images.githubusercontent.com/13604424/130337615-24cbbd98-4289-4135-b179-b590de7fd70b.png)

[2021-08-22 03:43] siduck76 commented on #327
Just downloading won't work , set your terminal font as that nerdfont .

[2021-08-22 03:44] siduck76 commented on #323
yes we don't have coc.nvim lol , you added it so remove it .

[2021-08-22 03:45] siduck76 commented on #325
When was the last time you updated nvchad config?

[2021-08-22 03:46] #322 closed

[2021-08-22 05:27] jasmcaus opened #328 "Enabling NVimTree by default?"
**Describe the bug**
This is not a bug per se, but I was wondering if, like the dashboard, one could enable Nvimtree to open when `nvim .` is run in the terminal?

[2021-08-22 05:57] siduck76 commented on #328
g.nvim_tree_auto_open = 0 to 1 in nvimtree.lua

and remove the cmd line of nvimtree in pluginlist

[2021-08-22 07:09] cocoonkid commented on #307
Yes works. Thanks!

[2021-08-22 08:13] bjesus commented on #26
Just empty:

![screenshot_2021-08-22_10-12-43_218380489](https://user-images.githubusercontent.com/55081/130347480-c59c0b5a-fc35-48d9-a9a1-6f0b8c79d804.png)

[2021-08-22 08:43] Um1aut commented on #323
Lol, I just followed the setup instruction, that's it, I didn't add something in the .config/nvim directory)
![image](https://user-images.githubusercontent.com/80593546/130348337-2ce101bf-1c23-4055-ab07-21b49e6f8af3.png)

[2021-08-22 08:46] buip commented on #325
it happens to me too!

[2021-08-22 08:47] Um1aut commented on #323
maybe some vim plugins and nvim are in conflict

[2021-08-22 08:47] Um1aut commented on #323
cause I use both of them

[2021-08-22 08:48] Reptarsrage commented on #325
I was on commit `6206a9e` (2 days ago), but I just pulled  `44ae017` (75 minutes ago) and am having the same issue.

I cleared out the old plugins & data folders (`~\AppData\Local\nvim`, `~\AppData\Local\nvim-data`), and ran `nvim +'hi NormalFloat guibg=#1e222a' +PackerSync` as per the setup instructions [here](https://nvchad.netlify.app/getting-started/setup/). After that, every time nvim is open

[2021-08-22 09:04] siduck76 commented on #323
no , you need to remove the completopt line from options.lua and compe so coc would work or just remove coc.nvim lol

[2021-08-22 09:17] barungh commented on #325
It is compiling telescope media plugin on every launch

![image](https://user-images.githubusercontent.com/12285528/130349638-b97fa657-73f8-4c4b-a1b0-dc398ebb506c.png)

[2021-08-22 09:19] Akianonymus commented on #325
disable media extension from config, restart neovim and PackerSync

[2021-08-22 09:21] siduck76 commented on #325
oh yea telescope media wont work for windows , disable it

[2021-08-22 09:23] Um1aut commented on #323
How much time I need to say you that I didn't install coc.nvim and removed this line
![image](https://user-images.githubusercontent.com/80593546/130349795-85126864-7657-47cf-803c-eca950855053.png)

[2021-08-22 09:24] Um1aut commented on #323
maybe lsp installed it by default

[2021-08-22 09:25] siduck76 commented on #323
![image](https://user-images.githubusercontent.com/59060246/130349853-feb8b807-c8f5-49f5-a83d-9513321d02fc.png)

not at all

[2021-08-22 09:25] siduck76 commented on #323
clearly shows coc.nvim dude

[2021-08-22 09:29] Um1aut commented on #323
bruh I swear god that just cloned and packed all your plugins, installed lsp and ts(https://nvchad.netlify.app/getting-started/post-install/) and that's all.

[2021-08-22 09:34] G-Rowell commented on #323
@Um1aut

Have you ever used Vim or NeoVim before?

We're trying to help & debug this issue, and the current problem is that we can't understand how you are getting this error if `coc.nvim` is not installed.

Can you tell me the output of these commands please:
- enter the `cd ~/.config/nvim` dir
- update the git repo `git fetch --all`
- `git rev-list HEAD | head -1`
  - output of this please!
and

[2021-08-22 09:41] Um1aut commented on #323
![image](https://user-images.githubusercontent.com/80593546/130350353-aaff8f07-e283-467b-960a-a3feb94a16b4.png)

[2021-08-22 09:41] Um1aut commented on #323
![image](https://user-images.githubusercontent.com/80593546/130350368-3009b154-2b5c-4e5b-b770-3e1d1828d44e.png)

[2021-08-22 09:42] Um1aut commented on #323
and diffout is clear

[2021-08-22 09:45] Akianonymus commented on #325
I will add a check if the system has uzerberg, then try to load media files extension

[2021-08-22 09:47] G-Rowell commented on #323
Thank you, looking into this

[2021-08-22 09:48] barungh commented on #325
Done , but after that packer is compiling/syncing/updating on every launch, How do I stop that ?

![image](https://user-images.githubusercontent.com/12285528/130350367-f042ac34-3afd-4ff6-8145-2ebcc0d68f2e.png)

[2021-08-22 09:50] G-Rowell commented on #323
Can you run in NeoVim
-  `:CocInfo`
- `:checkhealth`

And show the outputs here @Um1aut

[2021-08-22 09:59] Um1aut commented on #323
![image](https://user-images.githubusercontent.com/80593546/130350944-f2458ca1-7a38-42c7-a5df-e657045d28ff.png)
![image](https://user-images.githubusercontent.com/80593546/130350987-01fe580c-56fc-441f-8f40-324896ae696a.png)

[2021-08-22 10:04] siduck76 commented on #323
this clearly shows that coc.nvim is installed , remove it.

[2021-08-22 10:04] G-Rowell commented on #323
I know this must be pretty frustrating,
I have one last easy one. I'll for sure have enough info after this to test myself

In NeoVim:
`:PackerSync`

The upload the `~/.cache/nvim/packer.nvim.log` file again.

[2021-08-22 10:06] G-Rowell commented on #323
I think you need to try

`rm -r /usr/share/nvim/runtime/pack/coc`

This should hopefully fix

[2021-08-22 10:08] Um1aut commented on #323
thanks)

[2021-08-22 10:09] G-Rowell commented on #323
Let me know if that fixed it :)

[2021-08-22 10:20] Um1aut commented on #323
Ofc that fixed because of I have just deleted coc that alerted the problem

[2021-08-22 10:20] #323 closed

[2021-08-22 10:21] #328 closed

[2021-08-22 10:23] siduck76 commented on #327
If its alacritty then take reference from this config https://paste.sh/G5RP3sQm#QPvbAX8BibYrQ-umZh29PKe_

[2021-08-22 10:45] G-Rowell commented on #327
@siduck76

That weblink is broken for me
`Decryption failed (Error: Malformed UTF-8 data)`

Though I do agree that the most likely issue is that the terminal emulator font is not set.

[2021-08-22 10:49] siduck76 commented on #327
updated link https://paste.sh/0XeNd1CQ#-lNJAwPYiNX4etSgfAbRLygo

[2021-08-22 10:49] #327 closed

[2021-08-22 11:50] V1RE opened #330 "Try in docker"
When trying out configs such as NvChad, I always spin up a new docker container as to not mess with my own configuration.

As an example, [zsh4humans](https://github.com/romkatv/zsh4humans/#try-it-in-docker) has this docker section so you can easily try it out without worrying about making backups and installing the correct dependencies.

[2021-08-22 12:25] G-Rowell commented on #330
I this a suggestion for NvChad to incorporate?

I'm personally not a huge fan of the all too common curl, into sh: `sh -c "$(curl <script url>)`

Furthermore, for the most part users can `mv ~/.config/nvim ~/.config/NeovimBackup`, as faster method for most cases.

I'm of course still open to a discussion on this!
There are other members that may have a different view point on this

[2021-08-22 12:34] Akianonymus commented on #325
Update your local repo and try again, i have pushed some fixes. May help

[2021-08-22 13:00] jasmcaus opened #332 "'mappings' has been deprecated please refer to the BufferLineGoToBuffer section of the README"
**Describe the bug**
Got the following bug whenever I try to open nvim (using NvChad configs)
[code]

**Desktop (please complete the following information):**
 - Operating System: Kali
 - Terminal: qterminal
 - Version of Neovim: v0.6.0-dev+166-g8331cd13c

**Additional context**
Add any other context about the problem here.

[2021-08-22 13:56] siduck76 commented on #332
@jasmcaus update your nvchad config !

[2021-08-22 14:15] jasmcaus commented on #332
Tbh, this was the config I pulled from here yesterday. It worked fine then, but started yelling at me today

[2021-08-22 14:16] barungh commented on #325
Yes it solved the problem ( compilation on every launch )

but,

now, `<leader>ff`     invokes fetching of telescope fzf plugin , nvchad/extensions, then
Telescope stops working

with previous releases `:Telescope find_files` was working great

[2021-08-22 14:18] Akianonymus commented on #325
probably telescope fzf extension if not working

[2021-08-22 14:20] barungh commented on #325
but fzf works fine on my Powershell ( may be this info will help you )

![image](https://user-images.githubusercontent.com/12285528/130358492-887011b0-ded9-4933-8071-b7ac6ad9fd9e.png)

[2021-08-22 14:21] V1RE commented on #330
Here's a [demo](https://asciinema.org/a/RxE9FOZg1p8AgEQkAhPb6tGMj) showcasing how you can quickly try out NvChad by just pasting a command.

As you can see in the demo, i screwed my personal config up by moving it, trying out nvchad, removing nvchad and copying my old config back. Using docker would ensure you wont accidentally screw your old config up.

I've created a PR here #333

[2021-08-22 14:25] Akianonymus commented on #325
It's a different thing

https://github.com/nvim-telescope/telescope-fzf-native.nvim

Anyway, try this, it will give use more info

replace this code
[code]

with

[code]

in lua/plugins/configs/telescope.lua

[2021-08-22 14:42] siduck76 commented on #332
do packersync then , mappings has already been removed from bufferline config , please re-check

[2021-08-22 14:43] siduck76 commented on #330
merged the pr!

[2021-08-22 14:43] #330 closed

[2021-08-22 14:49] barungh commented on #325
![image](https://user-images.githubusercontent.com/12285528/130359504-df29ad39-e104-4d7e-8cbf-a99d8423cf27.png)

It produces this error , after above configuration, then,
it opens up the telescope file search window

[2021-08-22 15:17] amistyrain commented on #324
me too

[2021-08-22 15:28] nvthuong1996 opened #334 "linter support"
i want to use eslint for lint code. please tell me how to work it.

[2021-08-22 15:32] barungh opened #335 "Help needed to setup user defined plugin - Flutter-tools"
**Describe the bug**
[Flutter-tools](https://github.com/akinsho/flutter-tools.nvim) not working

What am I doing wrong here ?

[code]
![image](https://user-images.githubusercontent.com/12285528/130360944-2771ca29-5480-4fa9-8895-e2bfb4ca7ea0.png)

[2021-08-22 16:16] b3b00 opened #336 "PackerSync not found at install"
Hello, I am new to nvchad (in fact to neovim) When I 've tried to install nvChad :

1. clone to .config/nvim is ok
2. then starting "nvim +'hi NormalFloat guibg=#1e222a' +PackerSync" makes an error

E492: Commande inconnue: PackerSync (in french, I guess english is somethin like E492: "Command not found: PackerSync"

Environment :
  - Win 10
  - Windows terminal
  - git bash
  - neovim v0.5.0

[2021-08-22 16:48] insidersbuilt opened #337 "Lua is not installing"
This is the error from lua lsp
![image](https://user-images.githubusercontent.com/87114084/130363282-1904d862-a397-47e4-816b-7c4d8fabac81.png)
and this is the error from ts lsp
![image](https://user-images.githubusercontent.com/87114084/130363878-90f50a4c-01ea-4134-bc4d-31af1a141f24.png)

i don't know lua lsp does not installs

[2021-08-22 17:02] insidersbuilt opened #338 "can i install coc-css alongside the lsp because the lsp does not have a good support or completion for the --webkit"

[2021-08-22 17:51] Oscuro1111 commented on #336
same issue

[2021-08-22 18:02] siduck76 commented on #338
I doubt if compe and coc would conflict :l , either you have to remove lspconfig+compe to use coc or just use lspconfig+compe.

[2021-08-22 18:02] siduck76 commented on #337
you sure , your internet connection is ok?

[2021-08-22 18:03] siduck76 commented on #336
I doubt if those commands will work on windows :l

[2021-08-22 18:11] siduck76 commented on #336
check the windows section here https://nvchad.netlify.app/getting-started/setup/

[2021-08-22 18:23] siduck76 commented on #335
wym not working?

[2021-08-22 18:51] Akianonymus commented on #325
It cannot find the fzf module, probably why not working.

Remove it from telescope.lua

about fixing this properly, do you have make installed and available as a command ?

try making binaries for this repo externally andd see if that works

https://github.com/nvim-telescope/telescope-fzf-native.nvim

[2021-08-22 19:20] Oscuro1111 commented on #94
Where lua/nvim-lspconfig.lua exist?

[2021-08-22 19:37] insidersbuilt commented on #337
yes

[2021-08-22 19:38] #338 closed

[2021-08-22 20:17] insidersbuilt opened #342 "This is not a a issue this is only for the NvChad those who created this masterpiece"
I don't have words to thank you for this masterpice . Thanks from the bottom of my heart❤️

[2021-08-22 21:03] Reptarsrage commented on #325
Thanks @Akianonymus, disabling "the nvim-telescope/telescope-media-files.nvim" plugin fixed the issue. FYI you can install the fzf command line tool on windows via chocolatey: https://community.chocolatey.org/packages/fzf

[2021-08-22 21:06] IYake opened #343 "Reorganization broke things"
**Describe the bug**
From the head a65368aed97ca843a4265077b2b9089c611f2c29 to commit 9ffddb6b524aaef2bc2b1b89f52875a452781908, I get the error

[code]
But before 9ffddb6b524aaef2bc2b1b89f52875a452781908, the error isn't present. So I'm thinking reorganizing the files broke things.

**To Reproduce**
Steps to reproduce the behavior:
1. ```git checkout HEAD```
2. ```nvim```

**Desktop (please comple

[2021-08-22 21:48] insidersbuilt opened #344 "Telescope media_files does not works"
telescope media files does not works media files option is not available in the command line like
:Telescope media

completion is not available

[2021-08-22 23:01] IYake commented on #343
My bad... turns out I needed to run ```PackerUpdate``` first before updating nvchad. I removed packages I didn't want before so it seemed to be expecting those. Needing to remake/verify the Packer should either be automatically done or specified somewhere in the docs.

[2021-08-23 00:20] G-Rowell commented on #343
Hi @IYake,

I've just tested this opening NeoVim on an up-to-date NvChad and I do not get any errors

Do you know if there is anything specific that causes this problem?

Can you run:
`:PackerSync`

Then, can you please provide the following:
- `git rev-list HEAD | head -1`
  output of this please!
- `git diff origin/HEAD > diffOut.txt`
  upload of this please if it outputs anything!
- ~~`upload o

[2021-08-23 00:21] G-Rowell commented on #344
Hi @insidersbuilt,

Can you please provided the requested information when you created this issue:
- mainly what OS

Can you run:
`:PackerSync`

Then, can you please provide the following:
- `git rev-list HEAD | head -1`
  output of this please!
- `git diff origin/HEAD > diffOut.txt`
  upload of this please if it outputs anything!
- ~~`upload of ~/.cache/nvim/packer.nvim.log`~~
  (we'll save this

[2021-08-23 00:28] G-Rowell commented on #335
Hi @barungh,

I'm not sure if the NvChad team can support you too much here,
as this problem isn't with NvChad, but more with your own plugin configuration.

Suggested resources:
- [Flutter tools README](https://github.com/akinsho/flutter-tools.nvim#flutter-toolsnvim)
- [Packer README](https://github.com/wbthomason/packer.nvim)

See this except from the Flutter README:
[code]

We may be able to an

[2021-08-23 00:29] G-Rowell commented on #334
Hi @nvthuong1996,

See our documentation online: https://nvchad.netlify.app/

Specifically the `Post install` section: https://nvchad.netlify.app/getting-started/post-install

Hope this helps,
I might go ahead and close this but feel free to open it again if need be,

G

[2021-08-23 00:29] #334 closed

[2021-08-23 00:31] G-Rowell commented on #332
@jasmcaus,

We've currently being doing some major re-structuring of NvChad, to hopefully improve it for everyone!

Big credit to Akianonymus for the work

Try run `:PackerSync` as SiDuck said, then let us know if this issue still persists.

G

[2021-08-23 00:41] IYake commented on #343
The git diff didn't output anything. But doing ```:PackerSync``` _did_ fix the issue. I had to hold enter until all these packer errors gave up and I could type it in. Thanks!

[2021-08-23 00:45] G-Rowell commented on #343
Awesome, glad it's fixed :smile:
Have a good day!

G

[2021-08-23 00:45] #343 closed

[2021-08-23 00:49] G-Rowell commented on #336
Hi @b3b00,

You say that `clone to .config/nvim is ok` works,

but this shouldn't really work if you are running Windows 10, are you running WSL2?

I get the impression we are missing some information maybe?

Though I do agree with SiDuck, many tools won't support Windows, so that could be an issue. It's tricky to debug from our side of course.

Hope we can find a solution,
G

[2021-08-23 00:58] G-Rowell commented on #325
Glad it's fixed!
Aki has been doing some amazing work.

Closing, reopen if need be
G

[2021-08-23 00:59] G-Rowell commented on #337
Hi @insidersbuilt,

Can I confirm that you are trying to `:LspInstall lua`?

This issue does seem pretty weird, as it's correctly downloading a file, but not recognising the file as valid.

Can you run:
`:PackerSync`

Then, can you please provide the following:
- `git rev-list HEAD | head -1`
    output of this please!
- `git diff origin/HEAD > diffOut.txt`
    upload of this please if it outputs

[2021-08-23 02:14] barungh commented on #335
It is working ,

![image](https://user-images.githubusercontent.com/12285528/130380338-f7186f40-2490-470d-ab28-fd70ab116784.png)

***What I did***
![image](https://user-images.githubusercontent.com/12285528/130380559-71cd5da1-f212-41d1-810b-a40ba847a249.png)

- created a flutter-tools.lua file inside nvim/lua/plugins/configs
- in nvim/lua/plugins/init.lua added these lines

[code]

[2021-08-23 02:14] #335 closed

[2021-08-23 02:21] insidersbuilt commented on #344
It does not shows anything it does not opens the telescope media

[2021-08-23 02:22] insidersbuilt commented on #344
i am new to nvim and also the github so i don't know what you are talking about

[2021-08-23 03:18] G-Rowell commented on #344
So

1. What OS are you using?
2. Run `git rev-list HEAD | head -1` and show me the output
3. `git diff origin/HEAD > diffOut.txt` and show me the output

Without these I can't help or even start to debug your issue :smile:

G

[2021-08-23 03:19] insidersbuilt opened #346 "In the NvChad the telescope search bar problem"
in the telescope the search bar is at the top but the pointer on the files is at the bottom which is kind of annoying the pointer should be on the top below the telescope search bar so in the telescope settings you should change the descending to asending to remove the conflict

i just wanted to share that so that that should be on the master branch

Thanks!

[2021-08-23 03:22] insidersbuilt commented on #344
![image](https://user-images.githubusercontent.com/87114084/130385731-56f194cd-5455-4e23-a510-e9503503a823.png)
I don't have the media_files option here the last version i was using had that

[2021-08-23 03:33] G-Rowell commented on #344
Hi @insidersbuilt, as my previous comment, **I need to know the following otherwise I cannot help**

1.    What OS are you using?
2.    Run `git rev-list HEAD | head -1` and show me the output
3.    Run `git diff origin/HEAD` and show me the output

`Without these I can't help or even start to debug your issue`

If you don't want to provide these, we can agree to close this issue?

[2021-08-23 03:54] #344 closed

[2021-08-23 04:20] siduck76 commented on #346
I think you need to check telescope config

[2021-08-23 04:32] siduck76 commented on #338
@insidersbuilt show completions with both coc and nvim lsp  , I'll check with lspconfig devs on gitter

[2021-08-23 04:33] siduck76 commented on #342
@insidersbuilt thanks a lot! It was me who started it and many awesome contributors made it possible!

[2021-08-23 04:33] siduck76 commented on #342
Anyways this increases the issues count lul so ima close this bloat!!!

[2021-08-23 04:33] #342 closed

[2021-08-23 04:54] jasmcaus commented on #332
Okay, I've switched to the latest config. Love the file structure!
Also, quick question: does running :PackerSync update nvchad configs as well?

[2021-08-23 04:58] siduck76 commented on #332
No , it compiles whole nvchad config into one! So if you make any significant changes like change in the packer conf  , you do packersync!

[2021-08-23 04:58] #332 closed

[2021-08-23 05:15] barungh commented on #325
I installed make in my windows machine , `choco install make`
and,
after that,
Telescope works fine, fuzzy finding seems to work,
but when I press enter on any file, i get this error

[code]

any help regarding this ?

I am very much set up on my windows machine 🙏

![image](https://user-images.githubusercontent.com/12285528/130393972-4a60d8f0-d0a8-4af7-9ef2-56d8189785e8.png)

[2021-08-23 05:50] jasmcaus opened #347 "Using an external theme?"
Not a bug per se, but I was wondering how do I go about using an external theme not included with NvChad. I'm new to Lua and Nvim's configs with Lua, but I'm interested in using the Github theme for Neovim (https://github.com/projekt0n/github-nvim-theme).

They mention using this in packer.
[code]
and
[code]

How do I disable the themes included by default in NvChad, and then proceed to using the

[2021-08-23 06:03] insidersbuilt commented on #337
solved  using this script

mkdir -p ~/.config/coc/extensions
cd ~/.config/coc/extensions

npm install coc-emmet coc-css coc-html coc-tsserver --global-style --ignore-scripts --no-bin-links --no-package-lock --only=prod

[2021-08-23 06:04] insidersbuilt commented on #337
yes at that time i was using :Lsp but then i switched to coc

[2021-08-23 06:20] G-Rowell commented on #347
One of the problems with this would be plugin theming,
often plugins have their own colour settings that need to be configured for each theme.

My understanding is that NvChad does this where many `plug and play` themes don't,
a core part of this functionality is: https://github.com/NvChad/nvim-base16.lua

If you really wanted to do this, my suggestion would probably be to make a PR to the above r

[2021-08-23 06:20] #337 closed

[2021-08-23 06:23] jasmcaus commented on #347
Okay, will check this out and let you know :)

[2021-08-23 06:28] siduck76 commented on #347
I agree with @G-Rowell , it would be better to port that theme for nvchad

[2021-08-23 06:43] b3b00 commented on #336
Hello,

Ok , i get it to install packages (expect telescope , I guess I miss fzf or ripgrep but that's another issue).
@siduck76 maybe you could clarify the windows setup part to explain what is the nvim folder where to copy init.lua and lua/
: ~/AppData/local/nvim.
that may be not that  obvious for neovim beginners.

[2021-08-23 06:43] #336 closed

[2021-08-23 06:44] siduck76 commented on #336
@b3b00 I added the windows section yesterday,  feel free to PR if there's something wrong in it.

[2021-08-23 07:52] Marcotsept opened #348 "some problems in code completeion"
First, How can I auto-complete with the first suggestion, when I type in  "tab"

<img width="751" alt="Screenshot 2021-08-23 at 15 39 57" src="https://user-images.githubusercontent.com/17099973/130409824-9c48f2c4-527b-4f0b-b987-7cb36e881056.png">

Second,  when I type in "Ctrl + n" cannot get a correct suggestion. I expected the result is like the first question suggestion list.

<img width="573"

[2021-08-23 08:09] chakrihacker opened #349 "Add keymapping to focus nvimtree.lua"
**Is your feature request related to a problem? Please describe.**
Currently, if you want to focus nvim tree, you have to double press ctrl + n

**Describe the solution you'd like**
This can be simplified by adding a dedicated keymap that focuses nvim tree from your current buffer

**Describe alternatives you've considered**
I added to custom config

**Additional context**
n/a

**Screenshot**
n/a

[2021-08-23 08:09] G-Rowell commented on #348
Hi @Marcotsept

1. Press `<enter>` to select an entry from the drop down list
2. `<CNTL> + n` is for opening / closing the NerdTree on the left, in your example you have an empty line selected, you probably can't use any auto-complete on an empty line. Try with a function/var instead maybe?

G

[2021-08-23 08:10] G-Rowell commented on #349
Try `<CNTL> + w + (h, j, k, l)` to swap windows, this is a default Vim keybind.

We'll likely map these to something easier / shorter v. soon.

I think this is good to close?
Feel free to re-open if you have any more questions!

G

[2021-08-23 08:10] #349 closed

[2021-08-23 08:14] G-Rowell commented on #349
Hope this helps btw!
:smile:

(again, feel free to re-open if you need)

[2021-08-23 08:27] Marcotsept commented on #348
Thanks @G-Rowell

[2021-08-23 08:27] #348 closed

[2021-08-23 11:13] Akianonymus commented on #349
You actually missed his point, he doesn't want to intuitively look for nvim tree then thing nvim tree is in the right postion, so will use h.

He wants a mapping just for focusing the nvim tree in the current buffer, doesn't matter where the cursor currently is. First is use ctrl + w + key mapping, but can be tedious if multiple splits are open.

It's most a vscode/sublime thing to have a mapping

[2021-08-23 11:16] siduck76 commented on #349
yes its useful , even nerdtree has it . I doubt if nvim has a default mapping for it

[2021-08-23 11:22] G-Rowell commented on #349
My apologies for missing the point,
Due to the authors phrasing I assumed they weren't aware of the default mapping binds.

It's something we could incorporate, but I'd be against it, as it becomes one specific niche bind, that for nearly all cases only moves one window to the left.
Furthermore, myself I'm not a fan of leaving NvimTree open due to being able to keep multiple files open in the buff

[2021-08-23 11:23] G-Rowell commented on #349
The way I understood this:

The "***have** to double press...*" would imply to me that the author wasn't aware of the window selection keybinds.

Though ofc again, I could be wrong

[2021-08-23 11:35] siduck76 commented on #349
@chakrihacker added

[2021-08-23 11:57] chakrihacker commented on #349
Yes, thanks for the amazing response time

[2021-08-23 11:59] chakrihacker commented on #346
Check if you installed ripgrep or not

[2021-08-23 12:03] G-Rowell commented on #346
I think, if I understand @insidersbuilt correctly,

[they want this option changed to `ascending`](https://github.com/NvChad/NvChad/blob/main/lua/plugins/configs/telescope.lua#L22), I've tried it myself and seems to do what insider is trying to describe.

I think it's a reasonable change imo, I'd be slightly in favour

@siduck76

[2021-08-23 12:05] #346 closed

[2021-08-23 12:16] ashincoder commented on #347
I think we need more highlights like the headings on markdown filetypes .. etc.

[2021-08-23 12:19] siduck76 commented on #347
yes show the highlight groups so ima add it.

[2021-08-23 12:20] siduck76 commented on #347
or wait for this https://github.com/nvim-treesitter/nvim-treesitter/issues/872

[2021-08-23 12:20] ashincoder commented on #347
Ok..
[code]

[2021-08-23 12:23] chebro opened #351 "statusline error when performing an interactive search and replace"
**Describe the bug**
performing an interactive search and replace operation throws statuline errors

**To Reproduce**

1. open some file.
2. enter command mode and run `:%s/old/new/gc`

it throws the following error

[code]

**Expected behavior**
the command should execute successfully without the `statusline.lua` error

**Desktop (please complete the following information):**
 - arch linux
 - kit

[2021-08-23 12:24] ashincoder commented on #347
[code]

[2021-08-23 12:31] siduck76 commented on #347
Lul these are a lot , I will put this on hold until I add treesitter highlights oki

[2021-08-23 12:42] G-Rowell commented on #351
I can confirm this bug

[2021-08-23 12:58] siduck76 commented on #351
yea can confirm

[2021-08-23 13:08] G-Rowell commented on #351
Need all of our org to confirm before any action is taken right?

@chebro
I'll take a good look at this tomorrow! (it's late here)

[2021-08-23 13:25] siduck76 commented on #351
@G-Rowell no , its a bug lol

[2021-08-23 13:26] G-Rowell commented on #351
Lol, was just joking
Very tired and stressed

My bad, it was a poor attempt at sarcasm lol

[2021-08-23 13:27] siduck76 commented on #351
bruh no sarcasms in the issues :angry:  , get serious!

[2021-08-23 13:55] siduck76 commented on #351
lul no neovim + chad  = NvChad ( not a joke)

[2021-08-23 14:03] Oscuro1111 opened #352 "Lsp not showing document and not have find definition option."
Autocompletion work properly but following issues make it not usable like IDE
1.Lsp Not showing document when over function(Is there any shortect key like :LspDefinition?) .
2.No option available for checking definition of functions.(like vim ctrl+i and ctrl+o).

here how can i watch its doc or declration or definition if it other function.
![issue](https://user-images.githubusercontent.com/471460

[2021-08-23 14:15] jakbin opened #353 "Not an editor command: PackerSync"
**Describe the bug**
Not an editor command: PackerSync

**To Reproduce**
Steps to reproduce the behavior:
1. when run this command "nvim +'hi NormalFloat guibg=#1e222a' +PackerSync"
2. it show this error :-

![nvchad](https://user-images.githubusercontent.com/65591973/130462324-c848a9dc-9b13-4799-8dcd-f97e9fdbe522.png)

**Desktop (please complete the following information):**
 - Operating System :

[2021-08-23 14:19] jasmcaus commented on #353
Is there a `packerInit.lua` in your configurations?

[2021-08-23 14:22] Oscuro1111 commented on #352
ok but what it means "gd" in defintion call

![issue2](https://user-images.githubusercontent.com/47146033/130463400-7c591463-dd1d-47b3-9859-618d18f937fb.png)

[2021-08-23 14:31] paulo-santana commented on #352
"go to definition"

[2021-08-23 14:35] Oscuro1111 commented on #352
ok but how i can read it and  know which shortcut to use?
<Cmd>? what it is?

[2021-08-23 14:50] paulo-santana commented on #352
In short, `<CMD>` a virtual key that only vim can press. It behaves like when you press `:`, but it doesn't show in the command prompt.

Read it this way: the left string is the sequence of keys of the mapping, the right string is what this mapping will do.

When you press `g` and then `d`, vim will press it's `:` equivalent (the `<CMD>` virtual key), and then it will type `lua vim.lsp.buf.definit

[2021-08-23 15:16] siduck76 commented on #352
Ig this is resolved

[2021-08-23 15:16] #352 closed

[2021-08-23 16:00] siduck76 commented on #353
how old is your config?

[2021-08-23 16:27] calligraffiti opened #354 "Alternative Keyboard Layout (Colemak) -- Accessibility"
Greetings,

I've been trying to change the default keys. I have been using the following vim script in my vimrc/init.vim for years:
[code]
I'm pretty new to lua. I tried converting it over, and some of this is working (j,k disabled, u working as insert) but I can't seem to get the rest to stick:
[code]

[2021-08-23 18:42] MMNN321 commented on #324
I found my problem. Neovim 0.5 works as it should. It seems, that this config conflicts with version 0.6 (minimal test config with nvim-compe is working on 0.6).

[2021-08-23 18:42] #324 closed

[2021-08-23 18:44] siduck76 commented on #324
oh yes , btw why using 0.6?

[2021-08-23 18:47] MMNN321 commented on #324
I had nvim-git 0.5-beta installed but packer was complaining. I then upgraded neovim to the newest release

[2021-08-23 19:59] insidersbuilt opened #355 "Telescope does not shows me preview of the media"
telescope does not shows me the preview of the media files even i have installed the uezerburg
![image](https://user-images.githubusercontent.com/87114084/130511360-44d655eb-77ce-4ca5-ae3a-eb400b01bb67.png)

[2021-08-23 20:22] chebro commented on #355
@insidersbuilt the extension only works with the media plugin which is mapped to `<leader>fp`.

[2021-08-23 21:14] ccope opened #356 "Lazy loading plugins by command invocation is prone to breakage/confusion"
**Describe the bug**
I frequently invoke `:Gdiffsplit` from fugitive, but it doesn't seem to be available with the nvChad configs ("E492: Not an editor command: Gdiffsplit"). I'm not sure how to add a keybinding for it either, but I usually like to type in the command.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a file in neovim inside a git repo
2. Run `:Gdiff`
3. See error

**Expe

[2021-08-23 22:35] G-Rowell commented on #351
Valid points on all sides,
let's take a moment to reflect and then come back with fresh minds?

Maybe if we make our own `Git` website we could then integrate a bot to detect sarcasm and flag it as such?

:fireworks: :heavy_plus_sign: :+1: :100: :medal_sports: :exclamation: :grin:

[2021-08-23 22:36] G-Rowell commented on #354
Hi,

while I've never used an alternative layout, I love the idea of making this more accessible to those who choose to do so.
Will look at this as soon as I can :smile:

[2021-08-23 22:55] Gitter499 commented on #353
II have the same problem. I only get error "E492"

[2021-08-23 23:11] ccope commented on #356
Ugh ok, I finally found the cause of the problem. The line where packer loads the fugitive plugin sets which commands trigger lazy loading, and only `:Git` is specified. I never use `:Git` so `:Gdiff` never became available. I'm kind of skeptical of lazy-loading functionality based upon command invocation unless the plugin really only has one or two commands.

[2021-08-23 23:17] 21eleven commented on #356
I have opened a PR that fixes this. It includes the fugitive commands: `Gdiff`, `Gdiffsplit`, `Gvdiffsplit`, `Gw` and `Gwrite` to trigger loading. Should be sufficient yea?

[2021-08-24 00:22] ccope commented on #356
Good enough for me, though other users might still use some other stuff (maybe Gbrowse? but it needs another plugin now)

[2021-08-24 01:16] ashincoder commented on #355
To open media files use `:Telescope media_files`

[2021-08-24 01:16] #355 closed

[2021-08-24 01:18] ashincoder commented on #351
Guys is this the place to discuss sarcasm :laughing:

[2021-08-24 02:55] Akianonymus commented on #351
@G-Rowell How about fixing the issue

[2021-08-24 03:00] Akianonymus commented on #356
Do not merge this now, i have better implemention which i will pr today

[2021-08-24 03:07] donymvarkey commented on #353
Same here as well.

[2021-08-24 03:28] G-Rowell commented on #351
Looking into this

[2021-08-24 03:28] G-Rowell commented on #353
Will look into this today

[2021-08-24 03:33] se7en-x230 opened #359 "Amazing setup"
No feature request but a big thank you to the NvChad team.

Amazing, clean, fast and productive setup.
Keep up the good work.

Thanks a lot

[2021-08-24 03:34] siduck76 commented on #353
show nvim -v

[2021-08-24 03:35] G-Rowell commented on #353
And `git rev-parse --short HEAD` too please!

[2021-08-24 03:35] #356 closed

[2021-08-24 03:36] G-Rowell commented on #359
<3

@Akianonymus @siduck76 @ashincoder

[2021-08-24 03:36] #359 closed

[2021-08-24 03:39] siduck76 commented on #356
yes added it

[2021-08-24 03:46] se7en-x230 opened #360 "Telescope <space> fa files all"
Nice move to include by default the hidden files in the nvim-tree.

Could the team consider to have a Telescope keybinding that includes hidden files as well?
I understand that setting `<space> ff` to include the hidden files by default is a bad idea as it will slow down the process.

But maybe a separate keybinding like `<space> fa` would be something worse thinking about.

[2021-08-24 03:49] G-Rowell commented on #360
My proposed mapping would be `<leader> + f + F` or `<leader> + F + F`

It's an interesting idea certainly, I'd be in favour of it.

We are currently handing a whole lot of cleanup and bug fixes rn, so we may take a bit to get to this.

G

[2021-08-24 03:57] se7en-x230 opened #361 "Telescope move through the list with ctrl j/k"
I might be wrong but I thought it was a feature before the list view was reversed.

Moving through the Telescope list is now only possible with the arrow keys and not by ctrl + j/k.
If it is possible to re(add) that again would be nice as using the arrow keys is "clunky".

[2021-08-24 03:59] OnePieceJoker commented on #325
I'm also having this problem and when I use `:Telescope find_files` the problem persists

[2021-08-24 04:07] Akianonymus commented on #360
You realize how tedious that will be to execute ?

[2021-08-24 04:28] G-Rowell commented on #351
Should be fixed when #362 is merged

[2021-08-24 05:14] #351 closed

[2021-08-24 05:28] se7en-x230 commented on #360
Any sane keybinding will do. I just thought ff (find file) and fa (find all) or f. (find dot files). Whatever is free and easy to remember/execute.

[2021-08-24 05:32] ashincoder commented on #361
Isn't <ctrl>n and <ctrl>p used to move through the list

[2021-08-24 05:42] G-Rowell commented on #360
Just hold `<shift>` while pressing `<space>` then `f`?

Don't think it'd be that tedious imo

[2021-08-24 06:36] insidersbuilt commented on #355
but i don't see the media files popup after pressing &lt;leader&gr;fp i think i have some error with my uezerburg can you send the page whre from you installed uezerbug i tried to install it from their github page but first it was not working then some how i installed it now i think if ueaerburg is not loaded then telescope wont show you the media files

[2021-08-24 06:46] se7en-x230 commented on #361
Thanks.  j/k would be easier but that works as well.

[2021-08-24 06:49] Akianonymus commented on #360
@G-Rowell I definitely didn't know that's how to press, thank you 😂.

Anyway, fa makes more sense imo, ff is find files and fa is find all files

what's wrong with this ?

[2021-08-24 06:50] siduck76 commented on #360
yea I agree with aki

[2021-08-24 06:51] insidersbuilt commented on #355
![image](https://user-images.githubusercontent.com/87114084/130570200-0e8b186b-36ef-4196-99bd-bf6d8796bf04.png)
i have reinstalled uezerbug now the media files opens but does not shows me the preview

[2021-08-24 06:52] insidersbuilt commented on #355
![image](https://user-images.githubusercontent.com/87114084/130570390-cabe7901-fac2-43e9-aaf1-0a59e84740f4.png)
Reinstalled uezerburg and now it works

[2021-08-24 06:53] #361 closed

[2021-08-24 07:59] jakbin commented on #353
In which directory ?

[2021-08-24 08:00] jakbin commented on #353
I followed install tutorial.

[2021-08-24 10:51] topazas commented on #353
Ubuntu PPA is still on 0.4.4, PAckerSync returns this error. With AppImage'd 0.5 it works.

[2021-08-24 10:57] siduck76 commented on #353
so this aint any nvchad issue , please use 0.5v

[2021-08-24 10:57] #353 closed

[2021-08-24 11:44] G-Rowell commented on #353
@topazas Glad it's fixed!

[2021-08-24 14:11] jakbin commented on #353
![nvchad1](https://user-images.githubusercontent.com/65591973/130632118-de37faab-fedd-418b-93ca-392b1318e42a.png)

[2021-08-24 14:12] G-Rowell commented on #353
@jakbin
Do you still have this issue?

[2021-08-24 14:15] jakbin commented on #353
![nvchad2](https://user-images.githubusercontent.com/65591973/130632775-6a9fc938-2a7b-4977-bf75-f77cc2f4431b.png)

[2021-08-24 14:16] G-Rowell commented on #353
@jakbin

[2021-08-24 14:16] jakbin commented on #353
i latest config from installation tutorial.

[2021-08-24 14:17] jakbin commented on #353
yes

[2021-08-24 14:18] G-Rowell commented on #353
Can you run

`git rev-parse --short HEAD`

And show me the output please

[2021-08-24 14:19] jakbin commented on #353
tell me directory

[2021-08-24 14:22] G-Rowell commented on #353
In the NeoVim config directory, that's where you installed NvChad

[2021-08-24 14:24] jakbin commented on #353
b57cb6c

[2021-08-24 14:31] jakbin commented on #353
![nvchad1](https://user-images.githubusercontent.com/65591973/130632118-de37faab-fedd-418b-93ca-392b1318e42a.png)

[2021-08-24 14:59] G-Rowell commented on #353
You need to update NvChad

`git pull origin --rebase`

Is probably appropriate for this case

[2021-08-24 15:30] fabio-pardo opened #365 "Titles Aren't Above Respective Panes"
I like to use nvim with split panes. Vertically and horizontally. However, when I split, the tab titles stay above the main pane. Is there a way to fix it?

![Screen Shot 2021-08-24 at 11 29 20 AM](https://user-images.githubusercontent.com/25315344/130645497-a5f20859-c8dc-4e0c-b2f3-3c19db6464c8.png)

[2021-08-24 15:32] phatsk opened #366 "Can't set custom mappings, some options unsupported in chadrc.lua"
**Describe the bug**
I started using NvChad about a month ago, when things like `options.lua` still existed. Last night I decided to `:PackerUpdate` which broke the theme colors and rendered everything useless. I backed up my config folder and checked out the latest NvChad to find that the entire structure has been reorganized.

I had a bunch of my own preferences for things like line wrapping, ta

[2021-08-24 15:45] jakbin commented on #353
![nvchad3](https://user-images.githubusercontent.com/65591973/130647860-4200a84d-2aeb-43a9-8a9a-2ca64a59b074.png)

[2021-08-24 15:46] se7en-x230 commented on #349
Just learned that ctrl + h focuses nvimtree ...

[2021-08-24 16:10] jpleyvat opened #367 "Syntax Highlight (js)"
**Describe the bug**
I am not able to display the same syntax highlight that you show in the screenshots. Would appreciate it if you could give me a hand with that.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo

**Expected behavior**
Syntax highlight similar to what shown in screenshots

**Screenshots**
![image](https://user-images.githubusercontent.com/20483919/130651420-e75f14

[2021-08-24 16:13] Shivansh-007 commented on #367
Hey @jpleyvat,

You would need to install the js tree-sitter parser to get JavaScript syntax highlighting, you can do this by running `:TSInstall javascript`.

Similarly, you can also install the other language parsers, you can check out the [tree-sitter docs](https://github.com/nvim-treesitter/nvim-treesitter#supported-languages) to see all the supported languages.

[2021-08-24 16:27] jpleyvat commented on #367
Thank you very much

[2021-08-24 16:38] HoolaBoola commented on #366
I have stuff like `vim.cmd [[ vim_command ]]` in my chadrc.lua to accomplish what the current configurations don't allow (yet)

For example:
`vim.cmd [[ nmap <silent> <C-l> :wincmd l<CR> ]]`
That allows me to press Ctrl+L to move to a window split on the right.

For you, I suggest trying this:
`vim.cmd [[ nmap <Tab> :wincmd w<CR> ]]`
And the same for Shift-Tab

I don't know if there's a better or

[2021-08-24 17:31] siduck76 commented on #366
yea for the time being just put all your mappings in
vim.cmd( [[ here ]])

[2021-08-24 19:47] phatsk commented on #366
Thanks, I'll try that and see what happens. For some reason my mappings were breaking it last night.

[2021-08-24 22:14] G-Rowell commented on #365
Hi @fabio-pardo ,

I don't think there would be any straightforward solution to this, as [`bufferline.nvim`](https://github.com/akinsho/nvim-bufferline.lua) doesn't support gaps of that kind between the labels.

Maybe have a look into the docs/code of bufferline? I unfortunately don't think there would be an easy fix for NvChad to do this.

My other suggestion would be to use two separate terminal

[2021-08-24 22:17] G-Rowell commented on #365
Wish I had a better answer for you :disappointed:
soz

[2021-08-24 22:49] Eduruiz commented on #366
@HoolaBoola can you help me here? where exactly do you put the
[code]
in your `chadrc.lua`? I tried some stuff but nothing worked as I expected :(

[2021-08-24 23:00] Eduruiz opened #369 "Add a shortcut to reload nvim configs"
**Is your feature request related to a problem? Please describe.**
not exactly

**Describe the solution you'd like**
It's just a shortcut, while a lot of us will be messing around with the chadrc config in our first days of use I thought it would be nice to have a "source the config" shortcut (`<leader>cr` for config reload or `<leader>cs` for config source?), I had it in my vim dotfiles.

**Descr

[2021-08-24 23:07] G-Rowell commented on #369
Hi @Eduruiz,

I like this idea, I've seen it before and agree that it would help.

I think the `autocommand` design would be a cleaner solution, though you're right there could be some potential problems we would need to check for.

G

[2021-08-24 23:18] buip commented on #325
I also still have same issue even after disabling the plugin

[2021-08-24 23:23] G-Rowell commented on #366
@Eduruiz

It should work in `chadrc.lua` outside of a function, so place it at the bottom of the file, but before the `return M`

Let me know if this doesn't work

[2021-08-24 23:41] G-Rowell commented on #325
@barungh @buip @OnePieceJoker

Sorry for missing this,
in the future I'd welcome you to use the `reopen and comment` button, so that this appears in the main issue list.
(otherwise we won't see it, like what's just happened!!)

I think the current plan is to remove `Telescope-media` as it's not very useful anyway.
This should solve this problem.
@siduck76

G

[2021-08-24 23:51] Eduruiz commented on #369
@G-Rowell maybe an option that enables the `autocommand` so users who feel more comfortable debugging can enable it, and a shortcut to everyone else?

[2021-08-24 23:58] Eduruiz commented on #366
@G-Rowell thanks for the quick answer, unfortunately, it didn't work. maybe I'm just too noob :smile:
this is the very end of my file:
[code]

[2021-08-24 23:59] siduck76 commented on #325
Yea it will be disabled by default now , ugghh windowsss :c

[2021-08-25 00:06] siduck76 commented on #369
I see only this plugin related to this https://github.com/famiu/nvim-reload

[2021-08-25 00:09] siduck76 commented on #366
I suppose this is resolved!

[2021-08-25 00:10] G-Rowell commented on #366
@siduck76
Bruh??? Read this

[2021-08-25 00:11] siduck76 commented on #365
This looks more of a bufferline issue than nvchad's! maybe check their docs / make an issue there.

[2021-08-25 00:21] G-Rowell commented on #366
@Eduruiz

Looks like we've lost some functionality with our big re-structure, you're right that placing it in `chadrc.lua` doesn't work.

I've already got some functionality to provide for this, so I'll make a note.

Meanwhile, just add the line to the bottom of your `init.lua`, eg
`vim.cmd[[ set cmdheight=10 ]]`

NOTE: this will be overwritten with the next NvChad update, when this happens move a

[2021-08-25 00:27] siduck76 commented on #360
@se7en-x230 I hope this is added by now

[2021-08-25 00:27] #360 closed

[2021-08-25 00:36] se7en-x230 commented on #360
Excellent. Thanks

[2021-08-25 00:49] siduck76 commented on #325
Yea it will be disabled by default now , ugghh windowsss :c

[2021-08-25 00:57] Shivansh-007 commented on #347
Having to add every theme as a nvchad theme is not the best to go about this, you can't add every single theme here. In my opinion, there should be support for using an external theme.

[2021-08-25 00:59] siduck76 commented on #347
there is already lul , but just dont expect the ui like statusline etc to match that theme then :/

[2021-08-25 01:01] G-Rowell commented on #347
@Shivansh-007

Take a look at this file: https://github.com/NvChad/NvChad/blob/main/lua/colors/highlights.lua

This is one of the reasons why NvChad needs to have a theme in a given format.

NvChad does a lot of manual work for you by setting the colours of all the plugins.

Without this any theme would just change the base NeoVim but not plugin colours.

So you can go ahead and do so already, but

[2021-08-25 01:32] G-Rowell commented on #366
@Eduruiz @phatsk @HoolaBoola

My PR: https://github.com/NvChad/NvChad/pull/314

Should provide some good functionality for everyone to customise on-top of NvChad, with things like custom mappings & whatnot.

:smile:
G

[2021-08-25 02:26] fabio-pardo commented on #365
Ah.... I'll take a look there then! thank you for the quick response 😄
Closing this but may follow it up with a response/solution I may find in the future.

[2021-08-25 02:26] #365 closed

[2021-08-25 02:27] G-Rowell commented on #366
PR: #368 does an even better job,
it will replace my proposed PR #314 I think

[2021-08-25 04:07] macarthy opened #370 "Copying test with mouse"
**Describe the bug**
I chouldn't copy text on the Mac

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a file
2. Click on hightlight line with mouse
3. <C-c>
4 . try to paste  to another app

I added

 map("", "<LeftRelease>", '"*ygv', opt)
to  mapping lua and now it works .

[2021-08-25 04:10] macarthy opened #371 "Enable custom plugin and lists of linters and Lsp servers to be installed"
**Is your feature request related to a problem? Please describe.**

I'd like a why to automatically install my list to linters and lsp servers

**Describe the solution you'd like**

Perhaps a file per language m that sepecify the normal tabs etc put also has a list of parsesm lspServer etc

[2021-08-25 04:17] macarthy opened #372 "I'd like to turn off some options in the plugins"
**Is your feature request related to a problem? Please describe.**

the virtual text in lsp dianostics is very distracting, I would perfect a sidebar icon and an underlineding the issue , hover over the line the issue and maybe show it in the status bar

**Describe the solution you'd like**
I'd would prefer a sidebar icon and an underlined issue, that you could hover over to get info

In general i

[2021-08-25 07:22] pathakraul opened #373 "Need help to install plugins like NerdTree which are not in lua"
Hi,

I need to help to install the plugins which are not in lua, I needed NerdTree with NvChad. I don't know if plugins which are not in lua can be installed with Packer.

Is there a way to install?

[2021-08-25 07:23] siduck76 commented on #373
You install them the same way you install lua plugins

[2021-08-25 07:23] siduck76 commented on #373
Nerdtree is really gonna make nvim slow , good luck

[2021-08-25 07:27] NarutoXY commented on #373
Packer supports all vim plugins. You can install vimscript and python plugins the same way you install lua plugins. It might be good to have a look on packer.nvim wiki.

[2021-08-25 07:52] pathakraul commented on #373
Yeah, I can observe that now.

[2021-08-25 07:53] pathakraul commented on #373
Which plugin recommend for C/C++ symbols window??

[2021-08-25 09:02] G-Rowell commented on #373
Probably best to do some researching!!
Google is a good friend,

I don't know of any community members who primarily use C/C++

[2021-08-25 09:11] siduck76 commented on #373
I hope this is resolved!

[2021-08-25 09:11] #373 closed

[2021-08-25 09:13] siduck76 commented on #305
Enough info isnt given :l . Also we didnt add kite . @G-Rowell shall we close this issue?

[2021-08-25 09:17] MaxJohnXiang opened #374 "How to configure golang fmt"
i have try this
vim.g.neoformat_enabled_go  = {"goimports"}
but it didn't work ， Please explain how to configure extra fmt with lua

[2021-08-25 09:18] siduck76 commented on #374
you mean with neoformat?

[2021-08-25 09:29] G-Rowell commented on #305
Hi @vlermandac,

as NvChad **doesn't provide any specific language support** we might close this.
Also it seems like you haven't provided any information that we've asked for.

The idea with NvChad is that it's a foundation config that you can customize to suit your own programming language

I hope you've managed to figure it out over the past few days,
all the best.
G

[2021-08-25 09:29] #305 closed

[2021-08-25 09:35] siduck76 commented on #325
I doubt if telescope-fzf-native with make is causing this issue.

[2021-08-25 09:50] MaxJohnXiang commented on #374
yes

[2021-08-25 10:08] TomWright commented on #370
I can't seem to copy either - where exactly did you add the new mapping line?

[2021-08-25 11:54] varon opened #376 "base16 theme file location?"
Is there any way of editing the base16 theme files locally So I can test?

Where are they located on the filesystem? Can we add this to the documentation?

[2021-08-25 12:05] siduck76 commented on #376
cd  .local/share/nvim/site/pack/packer/opt/nvim-base16.lua/

[2021-08-25 12:05] siduck76 commented on #376
https://github.com/NvChad/NvChad/wiki/Themes

[2021-08-25 12:22] #374 closed

[2021-08-25 12:22] MaxJohnXiang opened #377 "How to configure golang fmt with neoformat"

[2021-08-25 12:23] MaxJohnXiang commented on #377
i want add 'goimports' when file saved.

[2021-08-25 12:30] siduck76 commented on #377
show me the neoformat vimscript code for this

[2021-08-25 12:33] MaxJohnXiang commented on #377
vim.g.neoformat_enabled_go = {'goimports'}
 @siduck76

[2021-08-25 12:35] siduck76 commented on #377
and which file did you added this?

[2021-08-25 12:37] siduck76 commented on #377
try adding it in neoformat's config section
![image](https://user-images.githubusercontent.com/59060246/130791606-7cad4e89-ee05-45d5-9703-91d10a134530.png)

check lua/plugins/init.lua file

[2021-08-25 14:00] ashincoder commented on #325
@Akianonymus @G-Rowell @siduck76 I do have the same error.

https://user-images.githubusercontent.com/83629316/130804682-1b4e67e4-86a4-40bb-b4de-d163f825b9c5.mp4

[2021-08-25 22:19] zbirenbaum opened #379 "Strange Delete behavior"
I'm not truly certain this is a bug, but after searching through all the possible files I thought that this configuration may be present in I couldn't find it. The behavior for 'd' has been changed such that pressing 'dj' deletes the char under the cursor and the following line from the cursor to the end. I cannot figure out for my life where this has been done, though I believe it may be the resu

[2021-08-26 03:57] mrxiaozhuox opened #380 "How can I config NvChad to `auto-import`"
I think `auto-import` is a very important function for code editor. but I don't know how can I config NvChad to support it.

[2021-08-26 11:00] #380 closed, assigned to nobody

[2021-08-26 16:35] CTZxVULKAN opened #385 "mappings has been depriciated"
After a recent `:Packer Sync` i get the following warning every time i startup Neovim

[code]

Could anyone help me how to fix this.
Any help regarding this will be appreciated.

Thankyou.

[2021-08-26 16:50] #385 closed, assigned to nobody

[2021-08-27 03:43] CTZxVULKAN opened #388 "BufferLine Close Icon showing even when set to false"
The `show_close_icon` parameter for the buffer line has been set to `false` , yet the close icon is being shown.
This scenario has been shown in the following screenshot ( upmost right close icon is being shown )
How do I disable this  ?

![bufferline](https://user-images.githubusercontent.com/65299153/131068414-d0bfe2af-8e2c-45ce-8478-5b4cc9c1573c.png)

[2021-08-27 04:02] #388 closed, assigned to nobody

[2021-08-27 04:50] #379 closed, assigned to nobody

[2021-08-27 07:06] curtainp opened #393 "Whether to consider to add some plugin like `org mode` ?"
`org mode` is good GTD tool for record, and I live in vim,  so i ask for it.

[2021-08-27 12:35] marcomayer opened #397 "Why non-standard colorschemes?"
I guess I'm mostly curious as it's easy to work around but why do you not simply use the "official" colorschemes of the included themes? Like gruvbox and nord for example. Most users probably like having a consistent experience throughout their terminals.

Might consider changing this or adding "original"-themes :-)

[2021-08-27 18:28] morten-olsen opened #399 "PackerSync fails on clean install"
**Describe the bug**
`PackerSync` fails on newly install NvChad

If i remove line 180-231 from `lua/plugins/init.lua` (luasnips + cmp) `PackerSync` works fine, so seems to be related to that.

**To Reproduce**
1. Remove the `/plugin` folder
2. Open neovim and run `PackerSync`
3. `PackerSync`fails with `Error executing vim.schedule lua callback: .../site/pack/packer/opt/packer.nvim/lua/packer/displ

[2021-08-27 20:05] reeslabree opened #400 "Missing Special Characters on Clean Install"
**Describe the bug**
Special Characters/Symbols missing from file explorer, headers, etc.

**To Reproduce**
Steps to reproduce the behavior:
1. Clean install of neovim 0.5.0
2. Clean install of NvChad
3. Start nvim
4. ctrl+n to open file explorer

**Screenshots**
![image](https://user-images.githubusercontent.com/25036432/131182706-f9361547-93ad-4368-ab05-b6df69574bad.png)

**Desktop (please compl

[2021-08-27 20:13] #400 closed, assigned to nobody

[2021-08-28 00:45] siduck76 commented on #399
could you use 0.5?

[2021-08-28 00:53] siduck76 commented on #400
@reeslabree you need to use a nerd font in your terminal , i.e set a nerdfont . I use JetBrainsMono Nerd Font

[2021-08-28 01:39] siduck76 commented on #397
done

[2021-08-28 01:39] #397 closed

[2021-08-28 01:47] siduck76 commented on #393
I agree with @G-Rowell we might add it in the future or the user can do it himself after the custom hooks PR gets merged.

[2021-08-28 01:47] #393 closed

[2021-08-28 01:48] siduck76 commented on #325
@ashincoder do you still have this error :rofl:

[2021-08-28 01:49] siduck76 commented on #325
after disabling , you need to do packersync to make the changes

[2021-08-28 02:02] siduck76 commented on #371
there wouldnt be an automatic way for this . You have to add it yourself since nvchad doesnt come with supporting any language . Just add whatever you want. ( once the custom hooks PR gets merged )

[2021-08-28 02:02] #371 closed

[2021-08-28 10:23] morten-olsen commented on #399
@ siduck76  You are so absolutely right, downgrading to 0.5.0 removed the issue :+1:

[2021-08-28 10:23] #399 closed

[2021-08-28 11:34] marcomayer commented on #397
wow, that was quick! thanks! Next time I'll add it myself and commit a PR.

[2021-08-28 11:47] ashincoder commented on #370
keymappings are added in mappings.lua

[2021-08-28 11:47] ashincoder commented on #370
``

[2021-08-28 11:47] #370 closed

[2021-08-28 18:12] prurph commented on #26
Also seeing the same issue.

[2021-08-28 18:27] siduck76 commented on #26
@bjesus it will work on linux only and you need ueberzug working + ripgrep instead too. Test ueberzug in ranger first to check whether it's working on your system.

[2021-08-28 18:52] prurph commented on #26
I figured out my issue: ueberzug does not work on Wayland, and I'm using swaywm. @bjesus any chance this is your problem as well?

I was able to verify this by installing ranger, setting [`preview_images_method`](https://github.com/ranger/ranger/wiki/Official-user-guide#image-previews) to ueberzug, and noticed there were no images. When I set it to `kitty` (I'm using kitty term), the images worked

[2021-08-28 19:32] MeiramSh commented on #328
@siduck76  I had the same issue, so I tried to do what you suggested here.
But I didn't have pluginList.lua file, so I thought that I should edit init.lua file inside plugins folder instead. After I commented out cmd line of nvimtree in init.lua, nvimtree started to work as expected (e.g. Nvimtree open whenever I open the directory with it). However, after that nvim stopped to display proper Icons

[2021-08-29 02:14] 7c78 opened #401 "How to customize?"
1. I want to disable smooth scroll. I set `neoscroll` to `false` in `chadrc.lua`, but it does not work.
2. I installed nerd fonts and materialdesignicons but the fonts seem not working correctly.
Nvim-tree
![nvim1](https://user-images.githubusercontent.com/42330300/131235890-be6e4940-bfc9-4a7b-92ec-47337b82f251.png)
Galaxyline
![nvim2](https://user-images.githubusercontent.com/42330300/131235891-b

[2021-08-29 02:58] siduck76 commented on #401
you need to set the fonts in your terminal too . And your filemanage doesnt look like the one in windows so why windows compatible font?

[2021-08-29 03:00] siduck76 commented on #401
Do :PackerSync after disabling neoscroll , works for me :/

[2021-08-29 03:02] siduck76 commented on #328
@MeiramSh oh thats probably cuz webdevicons is lazy loaded and nvimtree isnt . so load nvimtree after webdevicons

after = "nvim-web-devicons"

(put this in the packer config of nvimtree)

[2021-08-29 03:19] 7c78 commented on #401
Thank you.
1. I run `:PackerSync` and it works.

2. > And your filemanage doesnt look like the one in windows so why windows compatible font?

What do you mean? I follow your instruction and set fonts to my terminal, then everything is good now.

[2021-08-29 05:13] siduck76 commented on #401
oh that was a typo lul , I mean your filemanager looks like nautilus , thunar etc , which are on linux and you were using windows compatible font which felt weird

[2021-08-29 05:13] #401 closed

[2021-08-29 05:59] imSafdarAwan opened #402 "i want to convert keybinds from lua to viml how can i convert the terminal keybinds"
map("n", "<leader>tx", ":execute 15 .. 'new +terminal' | let b:term_type = 'hori' | startinsert <CR>")
map("n", "<leader>tv", ":execute 'vnew +terminal' | let b:term_type = 'vert' | startinsert <CR>")
map("n", "<leader>tt", ":execute 'terminal' | let b:term_type = 'wind' | startinsert <CR>")

how can i write these commands in vimL

[2021-08-29 06:17] G-Rowell commented on #402
Can I ask why you would want to convert them from Lua to VimL?

[2021-08-29 06:32] G-Rowell commented on #402
And I might close this issue,
as one could simply Google `how to write autocommands in VimL`

A Google search is very easy: https://www.google.com/search?q=how+to+write+autocommands+in+viml

[2021-08-29 06:32] #402 closed

[2021-08-29 06:42] imSafdarAwan commented on #402
because wri

because writing mappings in vimL is easeier than the writing them in lua and also if you are looking at the old reference of mappings they are written in the VimL

[2021-08-29 06:45] G-Rowell commented on #402
I don't understand what the issue is,

`vim.api.nvim_set_keymap(mode, lhs, rhs, options)` just is a Lua api command, which takes VimL as it's argument,
so all the tutorials and references out there are still relevant.

IE. when using `vim.api.nvim_set_keymap(mode, lhs, rhs, options)` `RHS is already VimL`

[2021-08-29 06:50] G-Rowell commented on #402
These commands are Lua `vim.api` functions to execute VimL mappings

Consider reading the docs: https://neovim.io/doc/user/api.html#nvim_set_keymap()

[2021-08-29 07:11] 7c78 commented on #401
I use the default filemanager of ubuntu 20.04. JetBrainsMono, which I downloaded at https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/JetBrainsMono.zip, include these Windows compatible fonts.

[2021-08-29 14:47] bjesus commented on #26
Got it. Also using Wayland & Sway here, I guess that's the reason. Will disable telescope-media for now. Thank you 🙏

[2021-08-29 15:06] kriive opened #403 "When file contains error, the Lsp messes the layout"
**Describe the bug**
When using NvChad after installing `:LspInstall cpp`, and the file being edited contains some errors the writing flow is rendered unusable.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a file called main.c
2. Write an invalid C code
3. See your writing prompt behaving weirdly

**Expected behavior**
It should keep the error prompt at a distance and writing should

[2021-08-29 15:35] MeiramSh commented on #328
@siduck76 Awesome, that fixed everything

[2021-08-29 16:08] siduck76 commented on #403
why neovim 0.6? use 0.5

[2021-08-29 16:18] siduck76 commented on #403
works fine for me :l

[2021-08-29 16:32] kriive commented on #403
Oooooopsies, using 0.5 works fine! Feel free to close this. Super nice project btw

[2021-08-29 16:43] #403 closed

[2021-08-29 23:49] jpleyvat opened #404 "Incorrect icons"
**Describe the bug**
I have this icons.

![image](https://user-images.githubusercontent.com/20483919/131269312-8d07ba36-cd6d-4f69-bed8-01a31d2398a5.png)

Can you guys help me to get the ones you show in the repo?

**To Reproduce**
Steps to reproduce the behavior:
1. Clean install then open nvim

**Expected behavior**
![image](https://user-images.githubusercontent.com/20483919/131269312-8d07ba36-cd

[2021-08-30 00:03] siduck76 commented on #404
Your terminal issue , install nerdfonts and set a nerdffont in kitty. You should've known this :c .

[2021-08-30 00:03] #404 closed

[2021-08-30 02:05] vpeopleonatank commented on #325
I 'm still facing this issue like @ashincoder

[2021-08-30 02:07] siduck76 commented on #325
which OS?

[2021-08-30 02:07] vpeopleonatank commented on #325
Pop-os 20.04

[2021-08-30 02:09] siduck76 commented on #325
neovim version? show nvim -v

[2021-08-30 02:10] vpeopleonatank commented on #325
Here is my nvim -v
[code]

[2021-08-30 02:12] siduck76 commented on #325
could you show me a video in which you execute the following commands :

[code]

[2021-08-30 02:16] vpeopleonatank commented on #325
I still face this issue :D

https://user-images.githubusercontent.com/30976876/131276071-96a2c5e4-8503-42df-817c-7f60e10e1581.mp4

[2021-08-30 02:52] siduck76 commented on #325
can you try 0.5 appimage or binary from nvim releases?

[2021-08-30 02:56] barungh commented on #325
I am using Nvchad on my windows machine and also Arch Linux machine ,

for Windows machine , I disabled Telescope plugins , and added a forked version of [LspInstaller](https://github.com/nazo6/lspinstall.nvim)
which installs the Language servers nicely

![image](https://user-images.githubusercontent.com/12285528/131277894-ae53d3d1-bec4-4b93-be3a-f8988d35502a.png)

Now I can work on my Windows mac

[2021-08-30 03:00] vpeopleonatank commented on #325
I use latest release 0.5 appimage here https://github.com/neovim/neovim/releases/download/v0.5.0/nvim.appimage

[2021-08-30 03:21] siduck76 commented on #325
@vpeopleonatank I doubt if make properly works on your system :c

[2021-08-30 03:36] vpeopleonatank commented on #325
`make` exists on my system :+1:
![image](https://user-images.githubusercontent.com/30976876/131281569-b7857779-fe7a-4702-893b-69543a6b0f19.png)

[2021-08-30 03:39] MaxJohnXiang opened #405 "code Display error"
![image](https://user-images.githubusercontent.com/24894004/131281703-2dbcefd9-ef2f-4031-a677-be3b06ddcda5.png)

When i move the cursor , the code display correct.

![image](https://user-images.githubusercontent.com/24894004/131281754-4c6f6e17-db1d-487c-8725-67d13e8f5430.png)

[2021-08-30 03:55] ashincoder commented on #325
It happens sometime for me.

[2021-08-30 03:57] DreamSaddle opened #406 "Theme not found"
Hello, I can't find this theme file, Where can I find it?

![Image](https://user-images.githubusercontent.com/59060246/130129901-5e582f3e-b776-4d0c-9790-be5ae738b5a8.png)

[2021-08-30 03:58] MaxJohnXiang commented on #405
![image](https://user-images.githubusercontent.com/24894004/131283352-ef715fbb-09c6-4472-9770-cf64833ae50d.png)

[2021-08-30 04:12] siduck76 commented on #406
Everforest!

[2021-08-30 04:12] #406 closed

[2021-08-30 06:20] benjamin-shih commented on #372
Hey,

I found that if you would like to just disable the virtual text, you can navigate to /lua/plugins/configs and in lspconfig.lua edit the virtual_text variable to false as such:
[code]

[2021-08-30 06:28] siduck76 commented on #325
@vpeopleonatank go to ~/.local/share/nvim/site/pack/packer/start/telescope-fzf-native.nvim/

and delete the build dir , run make and show me the output

[2021-08-30 06:39] harry-xiaomi commented on #328
Auto open does not work if I add `after = "nvim-web-devicons"`, but otherwise I would not get the right icons. Anything I did wrong?

[code]

[2021-08-30 06:39] siduck76 commented on #325
@vpeopleonatank can you check now?

[2021-08-30 06:40] siduck76 commented on #328
remove opt=false too , and do :PackerSync

[2021-08-30 06:43] harry-xiaomi commented on #328
Same problem without `opt = false`.

[2021-08-30 06:48] siduck76 commented on #328
dont open just "nvim" , do nvim . to see the tree auto-opened

[2021-08-30 06:55] harry-xiaomi commented on #328
That's it. Thank you!

[2021-08-30 08:30] MaxJohnXiang commented on #405
![image](https://user-images.githubusercontent.com/24894004/131310307-9489080d-a537-4259-839b-cd41b82b0ca9.png)

[2021-08-30 08:48] arbkm22 commented on #100
there's no pluginList.lua file

[2021-08-30 09:47] macarthy commented on #372
Yeah that is what I did but it gets trashed on update.

[2021-08-30 11:10] vpeopleonatank commented on #325
After remove and install nvchad again, this issue has gone. Thank you.

[2021-08-30 11:12] #325 closed

[2021-08-30 11:13] siduck76 commented on #325
Thanks to @Akianonymus

[2021-08-30 11:15] siduck76 commented on #372
no worries , https://github.com/NvChad/NvChad/pull/368 has been merged to test branch and soon it'll get merged to main!

[2021-08-30 11:15] siduck76 commented on #100
oh its lua/plugins/init.lua now

[2021-08-30 11:46] jpleyvat commented on #404
Thank you. Sorry. Bad weekend 😞

[2021-08-30 13:29] Shivansh-007 opened #408 "Gitignore chadrc"
**Is your feature request related to a problem? Please describe.**
Since the user-config is written to `chadrc.lua`, so if any changes are done it would be edited. Thus when you do a `git rebase` to upstream(origin), it won't accept it until one commits it into the index.

**Describe the solution you'd like**
I would like to `.gitignore` `chadrc.lua` as one can already see the config options in `d

[2021-08-30 13:38] Shivansh-007 opened #409 "Doom One Theme"
Particularly inspired by this one https://github.com/NTBBloodbath/doom-one.nvim

Something looking like this (akin's setup)...

![image](https://user-images.githubusercontent.com/69356296/131347902-d464473a-72cf-4f17-a281-11d5c4abcc7c.png)

[2021-08-30 13:45] siduck76 commented on #409
PR's are welcomed for this ;(

[2021-08-30 13:57] G-Rowell commented on #408
`.gitignore`ing `chadrc.lua` won't work as we want it in our git repo (which conflicts with having it in `.gitignore`).

We are currently in the process of overhauling the user config part of NvChad.

My suggested method is to `git add -Av` your files and commit them `git pull origin --rebase`, and then rebase your commits on top of pulled/updated files.

I think this is good to close?
We apprecia

[2021-08-30 13:59] Shivansh-007 commented on #408
That would do but what's the reason for having it inside the repo, we already have `default_config.lua`? Which is basically a chadrc template when the user clones the config.

[2021-08-30 14:02] Shivansh-007 commented on #409
Well, I will give it a try, _be ready to change all of it_ ;(

[2021-08-30 14:44] siduck76 commented on #409
just add the syntax theme ( nvim-base16 theme ) https://github.com/chriskempson/base16/blob/master/styling.md

I'll add the nvchad highlights theme :D

[2021-08-30 14:58] Shivansh-007 opened #410 "Add nvim-hlslens"
I think this is something a lot of users would like to have and hence I am suggesting it here. The plain `/` nvim command is boring, you don't know how many suggestions are there, how are left to go and how are already passed. And it is FAAAAAAAAAAST 💨

![Example Usage](https://user-images.githubusercontent.com/17562139/115105257-5a0f6f00-9f90-11eb-92cf-801fe73a45fb.gif)

[2021-08-30 15:15] siduck76 commented on #410
ig we'll just have the basic functionality , once the custom hook feature gets merged in the main branch , the user will be able to add own config and plugins etc

[2021-08-30 15:15] #410 closed

[2021-08-30 16:22] pathakraul opened #411 "Error executing luv callback"
Started getting these errors suddenly
[code]
**vim** directory inside $HOME/.config/nvim/lua does not even exist.

Did the clean installation but didnt help.
[code]

[2021-08-30 16:30] siduck76 commented on #411
which neovim version?

[2021-08-30 16:32] pathakraul commented on #411
Its v0.6.0,
There is no v0.5.0 available for ubuntu 20.04 from the apt.

[2021-08-30 16:34] siduck76 commented on #411
[code]

[2021-08-30 16:40] pathakraul commented on #411
That does not provide the 5.0, its 4.4 which is default for this ubuntu version.
[code]

[2021-08-30 16:42] pathakraul commented on #411
Anyways, neovim minor version was upgraded in the software upgrade automatically few hours back and thats the only change I am aware of. So possible that its breaking this. Will close the issue

[2021-08-30 16:42] #411 closed

[2021-08-31 06:44] morten-olsen commented on #408
Think the upside to having it inside the repo is that if breaking chances are introduced to chadrc you would get a merge conflict indicating the changes, instead of stuff just starting to not work or break

[2021-08-31 06:46] morten-olsen commented on #408
Guess another way of dealing with it would be to copy it on start up if it does not exists, but that would most likely require some sort of model validation to avoid breaking changes going unnoticed

[2021-08-31 07:33] Shivansh-007 commented on #408
You can have a command to compare the outer structure of the default config and the `chadrc`, and if structural changes are found or a key is missing it can display them to the user and give them the option if it should add them or the user would like to do it.

[2021-08-31 08:54] marwan38 opened #413 "Hidden terminal buffer comes back and locks buffer switch"
**Describe the bug**
A hidden terminal buffer gets activated after closing some other buffer (using leader x), the terminal comes into view and blocks buffer switching (tab, s-tab, and by mouse).

**To Reproduce**
Steps to reproduce the behavior:
1. Have a few buffers open
2. Launch terminal buffer and then hide it using `<leader>x`
3. Navigate between buffers
4. Close a buffer using <leader>x
5.

[2021-08-31 10:51] Diego77777777777 commented on #328
****

[2021-08-31 11:00] Diego77777777777 commented on #413
Que te parece

[2021-09-01 04:23] Anonysus69 commented on #310
Can you implement a feature called total downloads?
Like this project: https://github.com/fosskers/aura
Using this method?
It's gonna be cool
https://img.shields.io/github/downloads/fosskers/aura/total.svg

[2021-09-01 04:26] Anonysus69 commented on #310
I deleted my discord account so didn't have anywhere to post suggestions

[2021-09-01 05:18] martindemello opened #418 "colorscheme autocommand not getting executed"
**Describe the bug**
I added the following to `.config/nvim/lua/core/autocmds.lua`:

[code]

 but it does not get triggered when I start nvim (I assume because the colorscheme gets set before autocommands are read in).

Where should I put the autocommand so that it gets read early enough?

**Desktop (please complete the following information):**
 - Operating System: linux
 - Terminal: terminator

[2021-09-01 08:04] G-Rowell commented on #413
Hi @marwan38,

This is likely an issue with my code, I'll look into this tonight!

G

[2021-09-01 10:56] G-Rowell commented on #413
Hi @marwan38,

I couldn't replicate this issue, I tried a few things including:

1. `nvim` inside of the ~/.config/nvim/` directory
2. `:e LICENSE` to open the license text file
3. `:e README.md` to open the readme text file in a new buffer (same window, so it's 'full-screen')
4. `<leader> + w` to open a terminal in a new buffer (same window, so it's 'full-screen')
5. `jk` to exit terminal mode
6.

[2021-09-01 11:14] marwan38 commented on #413
@G-Rowell I don't have the exact repro steps. You'll have to wait till I get it to happen again :(. @siduck76 mentioned that he knows what I'm talking about in discord. Maybe he knows how to repro.

[2021-09-01 11:15] G-Rowell commented on #413
@marwan38

Do you mean that I am not using the correct reproducing steps?

[2021-09-01 14:06] TomWright opened #419 "Green background colour outside of tmux"
**Describe the bug**
When using tmux nvim displays as expected, but outside of tmux I get a green background. It doesn't look like the theme is correctly applying.

I'm using the standard Apple Terminal.

**To Reproduce**
Steps to reproduce the behavior:
1. Open apple terminal
2. `$ nvim`

**Expected behavior**
The standard nvchad theme.

**Screenshots**
In tmux:
![image](https://user-images.githu

[2021-09-01 14:12] siduck76 commented on #419
https://github.com/NvChad/NvChad/issues/2

[2021-09-01 14:12] siduck76 commented on #419
itermmmmm :angry:

[2021-09-01 15:11] TomWright commented on #419
Ah sorry. Such an idiot. Iterm solved the problem

[2021-09-01 15:11] #419 closed

[2021-09-01 17:40] dessasin opened #420 "Why dashboard wont open firstly?"
Every neovim opening its starts with blank buffer. Dashboard should show at first I thing..

[2021-09-01 19:50] marwan38 commented on #413
@G-Rowell no, sorry. I forgot to mention that it's the closest to i could get to reproduce. Sid said he knew what I was talking about so I wasn't too fuss about it.

[2021-09-01 22:07] marwan38 commented on #413
@G-Rowell I think I reproduced it:

1. Have a hidden terminal buffer open
2. Have some random active buffer, one of your project files
3. Create a new tab with `<S-t>`
4. close the new tab `<leader>x`

[2021-09-02 00:37] G-Rowell commented on #418
This likely won't work, as NvChad doesn't use normal colour schemes.

NvChad doesn't use normal colour schemes as we set a whole lot of plugin colours for you, if we were to use the in-built colour scheme then many plugins wouldn't have their colours set properly.

Check out this folder: https://github.com/NvChad/NvChad/tree/main/lua/colors

[2021-09-02 00:39] G-Rowell commented on #420
The team has decided that `Dashboard` should not show by default. (it is enabled by default though).

Currently we don't have a `nice way` to show the dashboard on VimEnter, we will have a proper way next week though.

[2021-09-02 01:17] ZeroX-DG opened #422 "Better escape custom esc_insertmode in chadrc doesn't get applied"
**Describe the bug**
I want to customize the `esc_insertmode` shortcut in chadrc to `jj` but it doesn't seem to apply. After debugging, I found that no matter what you put in `esc_insertmode`, the result always get overrided with the default config. So I have to edit the default config file & it works.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to chadrc
2. Change `M.mappings.plugin.

[2021-09-02 01:23] martindemello commented on #418
ah, thanks. is there a hook to do what i want (essentially apply a theme and then set the Normal background to black) or do i need to edit highlights.lua directly?

[2021-09-02 01:33] G-Rowell commented on #418
Hmmmm, there may be a solution in the coming days.

as we are right in the middle of testing a PR to greatly improve the custom user config for this.

I can take a look today or tomorrow as soon as I have the time!

[2021-09-02 01:34] G-Rowell commented on #418
For now you could edit `highlights.lua`, or even better, edit a colourscheme in `lua/colors/themes/`

Though this is a hack, and not a long-term solution

[2021-09-02 01:37] martindemello commented on #418
thanks, looking forward to seeing the new custom config :)

[2021-09-02 03:01] Shivansh-007 commented on #408
I know about that, but I dunno how that solves my issue.

[2021-09-02 03:38] siduck76 commented on #420
@dessasin  https://github.com/NvChad/NvChad/wiki#dashboard

[2021-09-02 03:38] #420 closed

[2021-09-02 04:41] siduck76 commented on #422
you need to set the mapping in  chadrc.lua
![image](https://user-images.githubusercontent.com/59060246/131782802-a21d65b7-bcf2-4f30-bdd5-f428367b1838.png)

Also I suggest not using 0.6v! use 0.5

[code]

[2021-09-02 04:45] ZeroX-DG commented on #422
@siduck76 I did set the mapping in chadrc.lua but it doesn't get applied. It could be a neovim issue but I'm not sure. I'll downgrade it to 0.5 to see how it goes.

[2021-09-02 06:06] vntrungld commented on #328
How can we make nvim tree open when we don't specify the filename?

[2021-09-02 06:37] siduck76 commented on #328
nvim .

[2021-09-02 07:15] ZeroX-DG commented on #422
Nope, that didn't work, I'm on 0.5.0 and I still get that bug
![nvimbug](https://user-images.githubusercontent.com/12984316/131799358-9e3f9112-fdd7-4d70-b9f9-fc3d7d1ad1dc.gif)

[2021-09-02 07:29] vntrungld commented on #328
In `NERD Tree`, we suggest this code to pre-open nvim when we don't specify the filename:
[code]
I wonder how we can do it in NVimTree, I will look around

[2021-09-02 11:32] rafa-acioly opened #423 "Cannot set mapping"
**Describe the bug**
After updating `NvChad`, when I try to open `nvim` I got the error saying:

[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - Ubuntu 20.04 (Focal)
 - Terminator
 - NVIM v0.5.0

[2021-09-03 08:21] thiagodebastos commented on #423
I did some digging and it looks like the mappings were missing.
I'm not sure what is going on because according to git blame it looks like these changes have existed for 7 days but when I updated just now, I can see that the mappings were just added in:

https://github.com/NvChad/NvChad/blob/main/lua/chadrc.lua#L146-L149

[2021-09-03 08:33] G-Rowell commented on #423
Ahhh, ty for following up!
Sorry we couldn't get here in time

G

[2021-09-03 08:33] #423 closed

[2021-09-03 14:30] rafa-acioly opened #427 "Kotlin Icon not showing"
**Describe the bug**
With a fresh `NvChad` installation the kotlin icons are not showing.

I'm using Jetbrains Mono Regular, I've also tried change the font to FiraCode.

![Captura de tela de 2021-09-03 11-28-02](https://user-images.githubusercontent.com/11068059/132021996-5302f29b-3694-430c-bb93-2c896858cc49.png)

[2021-09-03 14:46] siduck76 commented on #427
oh sorry I forgot to mention in the docs! you need material design icon font for this

[2021-09-03 14:56] rafa-acioly commented on #427
Are you going to add it to the docs?

Can you tell me how can I install it?

[2021-09-03 15:27] siduck76 commented on #427
https://materialdesignicons.com/ download the fonts

and put them on ~/.local/share/fonts folder, idk about macos/windows

[2021-09-03 16:20] kamack38 opened #428 "Ctrl+Backspace deltes previous word"
How can I add that `Ctrl+Backspace deltes` previous word?

**Desktop:**
 - Windows 10
 - Windows Terminal
 - v0.5.0

[2021-09-03 16:21] grimgort opened #429 "help for install and using this plugin on windows"
hello,
I don't understand how to have the icons in neovim on a windows computer. I can't find how to do it on the internet... If anyone can help me it would be great
thanks
![image](https://user-images.githubusercontent.com/44238325/132037609-ea46b629-1153-446c-8a0b-af6c676dd879.png)

[2021-09-03 16:40] siduck76 commented on #429
Install jetbrainsmono windows compatible nerdfont and set that in your terminal! If you're new then just chrck nerdfonts repo's readme to know further

[2021-09-03 16:40] #429 closed

[2021-09-03 16:40] #427 closed

[2021-09-03 22:31] marwan38 commented on #429
@grimgort Ask siduck said. Go to https://www.nerdfonts.com/ and get the font that you want.

Open the windows terminal settings, that's pretty easy to get to. You click your profile (default, or whichever you're using) then go to appearance and it'll be one of the first things you see.

[2021-09-04 03:59] #418 closed

[2021-09-04 04:01] ashincoder commented on #422
And also @siduck76 it doesn't matter really which neovim version is used. nvim 0.5.0 is the stable one but version really doesn't matter. You have to have version above 0.5.0

[2021-09-04 04:23] siduck76 commented on #422
0.6v got us tons issues lately

[2021-09-04 05:16] G-Rowell commented on #422
0.6 is bringing lots of issues,

I & Morten are working on a big overhaul of the user custom config which will fix this

[2021-09-04 16:53] ashincoder commented on #409
@siduck76 here local base0 = "#1B2229"
local base1 = "#1c1f24"
local base2 = "#202328"
local base3 = "#23272e"
local base4 = "#3f444a"
local base5 = "#5B6268"
local base6 = "#73797e"
local base7 = "#9ca0a4"
local base8 = "#DFDFDF"
local base9 = "#E6E6E6"

local grey = base4
local red = "#ff6c6b"
local orange = "#da8548"
local green = "#98be65"
local yellow = "#ECBE7B"
local blue = "#51afef"
local

[2021-09-05 04:34] siduck76 commented on #409
@ashincoder the theme must be in this format first

  https://github.com/NvChad/nvim-base16.lua/blob/master/lua/themes/blossom-base16.lua

[2021-09-05 18:17] Daniel-Boll commented on #405
It's also happening with me.

![image](https://user-images.githubusercontent.com/43689101/132137213-3a2e6b4b-23c7-4dd4-9a69-1929ec163c07.png)

I started typing and the buffer didn't refresh or something like that, I have to move to another line in order to it display correctly.

![image](https://user-images.githubusercontent.com/43689101/132137231-130fcaca-3d7c-4344-bc05-5c5f4ce616d7.png)

And als

[2021-09-05 21:25] hsheikhali1 opened #431 "Add options for eslint and prettier"
**Is your feature request related to a problem? Please describe.**
I'd like to start using nvchad full time since I love the overall configuration.. however at work we rely on tools like:
prettier, stylelint, and eslint.. And I have no idea how to get this in..

**Describe the solution you'd like**
Can we add a clean way to configure prettier? Maybe something we can add to `chardrc.lua`

**Describ

[2021-09-05 22:20] bjesus commented on #428
I've added `vim.cmd [[ inoremap <C-BS> <C-w> ]]` to my `chadrc.lua`. Note that you might need to adjust your terminal to support it, see https://old.reddit.com/r/neovim/comments/okbag3/how_can_i_remap_ctrl_backspace_to_delete_a_word/

[2021-09-06 00:10] siduck76 commented on #405
idk about this , maybe this depends on the LSP server too . Try setting
[code]

To true

in lua/plugins/configs/lspconfig.lua

[2021-09-06 07:04] grimgort commented on #429
I changed my font but nothing works:
![image](https://user-images.githubusercontent.com/44238325/132174442-57b56fed-24e2-461c-beaa-6b8b674781d7.png)

[2021-09-06 07:23] grimgort commented on #429
With install.ps1 script from nerd-font repo, it s working. My bad. thanks

[2021-09-06 12:30] marwan38 commented on #431
I've stuck mine directly into the lspconfig file (similar to your setup) for now. I've heard that they plan to replace neoformat with null-ls soon, if so  then setting these up would become much easier to do and wouldn't need modification of the core files.

[2021-09-06 18:18] felippepuhle commented on #431
@marwan38 can you put more infos about your `lspconfig` setup with `NvChad`? thanks!

[2021-09-06 19:50] tannerellen opened #432 "LuaSnips error when entering insert mode"
**Describe the bug**
On a fresh install of NVChad entering insert mode or accessing anything that uses insert mode (like telescope) results in an error:

"Error executing vim.schedule lua callback: ...k/packer/opt/LuaSnip/lua/luasnip/loaders/from_vscode.lua:70: bad argument #1 to 'concat' (table expected, got nil"

**To Reproduce**
Steps to reproduce the behavior:
1. Install NVChad
2. enter insert

[2021-09-06 19:54] procoder-me commented on #432
![nvchad](https://user-images.githubusercontent.com/87576846/132257181-d9ee68bc-dcfe-4d16-8d1a-0e7b674322ed.png)
It is caused somewhere here,

[2021-09-06 20:25] marwan38 commented on #431
@felippepuhle It's all here: https://github.com/marwan38/NvChad/blob/main/lua/plugins/configs/lspconfig.lua#L109. I'm

[2021-09-06 20:27] kamack38 commented on #428
Where in `chadrc.lua` shall I put it?

[2021-09-06 21:49] bjesus commented on #428
Just before the `return M` at the end of file.

[2021-09-06 22:27] tannerellen commented on #432
I am no longer able to reproduce this issue. I don’t see any upstream updates from any of the snippet plugins that would explain a fix. Feel free to close this issue if appropriate.